.slide-in-col-left {
	padding-left: 0;
	transition: all 0.5s ease;
	position: relative;
	&.toggled {
		padding-left: 419px;
		.sidebar--left {
			left: 0px;
			overflow: scroll;
		}
		.page-content-wrapper {
			position: relative;
			margin-right: -400px;
		}
		.hammy {
			margin-left: -70px;
		}
	}
}
.sidebar--left {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: -400px;
	width: 400px;
	height: 100vh;
	vertical-align: top;
	display: inline-table;
	overflow-y: scroll;
	background: #fff;
	border-right: 1px solid #ccc;
	color: #333;
	transition: all 0.5s ease;
}
.sidebar--left__nav {
	padding: 0;
	.sidebar-nav__scroller {
		width: 400px;
		height: 100vh;
		padding-left: 20px;
		padding-top: 20px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
.sidebar-nav__title {
	font-size: 24px;
	font-weight: normal;
	padding: 20px 10px 16px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	width: 400px;
	margin: 0;
	list-style: none;
	background: #f2f2f2;
	color: #333;
}
.sidebar-nav__menu {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
}
.sidebar-nav__menu-title {
	font-size: 18px;
}
.sidebar-nav__menu-link {
	display: block;
	padding: 1rem;
	color: #333;
	border-left: 3px solid transparent;
	text-decoration: none;
	&:before {
		display: block;
		padding: 1rem;
		color: #333;
		border-left: 3px solid transparent;
		text-decoration: none;
	}
	&:hover {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			height: 100%;
			width: 3px;
			background: transparent;
			transition: width .2s ease-in;
		}
	}
	&.dropdown-toggle {
		position: relative;
		z-index: 1500;
		font-weight: normal;
		font-size: 18px;
		border-left: 3px solid transparent;
		background-position-y: center;
	}
	&.sidebar-nav__menu-title {
		font-weight: normal;
		font-size: 18px;
		border-left: 3px solid transparent;
	}
}
.sidebar-nav__menu-link:hover,
.sidebar-nav__menu-link:focus,
.sidebar-nav__menu-link:active {
	text-decoration: none;
	border-left: 3px solid #de4545;
	background: #f2f2f2;
}
.sidebar-nav__submenu {
	height: 0px;
	overflow: hidden;
	border-left: 3px solid transparent;
	transition: all 0.25s ease-in-out;
	&.is-open {
		height: 100%;
		border-left: 3px solid transparent;
		transition: all 0.25s ease-in-out;
	}
}
.fk-svg-rotate {
	right: 12px;
	left: auto;
	.fk-ucon {
		display: inline-block;
		width: 16px !important;
		height: 16px !important;
		margin-right: 10px;
		background-image: url("data:image/svg+xml,%3Csvg class='fk-svg' viewBox='0 0 24 24' id='chevron-down' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M22 8.08l-2-2-8 8-8-8-2 2 10 10 10-10z'/%3E%3C/svg%3E");
		transform: rotate(0deg);
		transition: all .25s ease-in-out;
	}
}
.active {
	border-left: 3px solid #de4545;
	.fk-svg-rotate {
		.fk-ucon {
			transform: rotate(180deg);
			transition: all .25s ease-in-out;
		}
	}
}
.dropdown-toggle {
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 20px;
		z-index: 1501;
		height: 100%;
		width: 3px;
		background-color: transparent;
		transition: all .2s ease-in;
	}
}
.sidebar-nav__menu-item {
	position: relative;
	font-size: 1rem;
	line-height: 20px;
	padding: 0;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}
.sidebar-nav__scroller {
	&::-webkit-scrollbar {
		display: none;
	}
}
.sidebar-nav__menu-link.dropdown-toggle.active,
.sidebar-nav__menu-link.dropdown-toggle.focus,
.sidebar-nav__menu-link.dropdown-toggle:hover {
	border-left: 3px solid #de4545;
	background: #f2f2f2;
}
.sidebar-nav {
	& > .sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 44px;
	}
}
.nautics-compass {
  position: fixed;
	top: 17px;
	z-index: 999;
	display: block;
	width: 48px;
	height: 48px;
	margin-left: 15px;
  background: url('/assets/img/nautical-compass.svg') no-repeat center;
  background-size: 48px;
  border: none;
  &:hover {
  cursor: pointer;
  outline: none;
  }
  &:focus {
    outline: none;
  }
  &.is-closed {
    &:before {
      content: '';
      display: block;
      width: 100px;
      font-size: 14px;
      color: #fff;
      line-height: 32px;
      text-align: center;
      opacity: 0;
      transform: translate3d(0, 0, 0);
      transition: all .35s ease-in-out;
    }
    &:hover {
      &:before {
        opacity: 1;
        display: block;
        transform: translate3d(-100px, 0, 0);
        transition: all .35s ease-in-out;
      }
    }
  }
}
.nautics-compass-rotate {
  &-cw {
    transform: rotate(360deg)
  }
  &-cc {
    transform: rotate(-360deg)
  }
  
}
.hammy {
	position: fixed;
	top: 17px;
	z-index: 999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
    border: none;
    &:hover {
		cursor: pointer;
		outline: none;
	}
	&.is-closed {
		&:before {
			content: '';
			display: block;
			width: 100px;
			font-size: 14px;
			color: #fff;
			line-height: 32px;
			text-align: center;
			opacity: 0;
			transform: translate3d(0, 0, 0);
			transition: all .35s ease-in-out;
		}
		&:hover {
			&:before {
				opacity: 1;
				display: block;
				transform: translate3d(-100px, 0, 0);
				transition: all .35s ease-in-out;
			}
			.hamb-top {
				top: 0;
				transition: all .35s ease-in-out;
			}
			.hamb-bottom {
				bottom: 0;
				transition: all .35s ease-in-out;
			}
		}
		.hamb-top {
			top: 5px;
			transition: all .35s ease-in-out;
		}
		.hamb-middle {
			top: 50%;
			margin-top: -2px;
		}
		.hamb-bottom {
			bottom: 5px;
			transition: all .35s ease-in-out;
		}
	}
	&.is-open {
		border: 2px solid transparent;
		background: #666;
		.hamb-top {
			transform: rotate(45deg);
			transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		}
		.hamb-middle {
			display: none;
		}
		.hamb-bottom {
			transform: rotate(-45deg);
			transition: transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
		}
		&:before {
			content: '';
			display: block;
			width: 100px;
			font-size: 14px;
			color: #fff;
			line-height: 32px;
			text-align: center;
			opacity: 0;
			transform: translate3d(0, 0, 0);
			transition: all .35s ease-in-out;
		}
		&:hover {
			&:before {
				opacity: 1;
				display: block;
				transform: translate3d(-100px, 0, 0);
				transition: all .35s ease-in-out;
			}
		}
	}
}
.hammy:focus,
.hammy:active {
	outline: none;
}
.hammy.is-closed .hamb-top,
.hammy.is-closed .hamb-middle,
.hammy.is-closed .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #999;
}
.hammy.is-open .hamb-top,
.hammy.is-open .hamb-middle,
.hammy.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;
	background-color: #999;
}
.hammy .hamb-top:after,
.hammy .hamb-middle:after,
.hammy .hamb-bottom:after {
	content: '';
	display: block;
	margin-top: 2px;
	height: 4px;
	background: #999;
}
.hammy.is-open .hamb-top,
.hammy.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;
	background: #FFF;
}
.hammy.is-open .hamb-top:after,
.hammy.is-open .hamb-bottom:after {
	height: 0;
}
