.ukon {
	background: url("sprite-factory/sprt-view/view-ee30bf02.svg") no-repeat;
}

.svg-Aspect-landscape {
	background-position: 56.06407322654462% 5.555555555555555%;
}

.svg-Aspect-landscape-dims {
	width: 24px;
	height: 24px;
}

.svg-Aspect-portrait {
	background-position: 72.5400457665904% 22.22222222222222%;
}

.svg-Aspect-portrait-dims {
	width: 24px;
	height: 24px;
}

.svg-Aspect-small {
	background-position: 94.50800915331808% 77.77777777777777%;
}

.svg-Aspect-small-dims {
	width: 24px;
	height: 24px;
}

.svg-Aspect-square {
	background-position: 21.96796338672769% 94.44444444444444%;
}

.svg-Aspect-square-dims {
	width: 24px;
	height: 24px;
}

.svg-Closed-caption {
	background-position: 12.814645308924485% 0;
}

.svg-Closed-caption-dims {
	width: 24px;
	height: 24px;
}

.svg-Education {
	background-position: 12.814645308924485% 5.555555555555555%;
}

.svg-Education-dims {
	width: 24px;
	height: 24px;
}

.svg-Fingerprint {
	background-position: 0 11.11111111111111%;
}

.svg-Fingerprint-dims {
	width: 24px;
	height: 24px;
}

.svg-Palette {
	background-position: 5.491990846681922% 11.11111111111111%;
}

.svg-Palette-dims {
	width: 24px;
	height: 24px;
}

.svg-Playlist-add {
	background-position: 10.983981693363845% 11.11111111111111%;
}

.svg-Playlist-add-dims {
	width: 24px;
	height: 24px;
}

.svg-Playlist-check {
	background-position: 18.30663615560641% 0;
}

.svg-Playlist-check-dims {
	width: 24px;
	height: 24px;
}

.svg-Playlist-play {
	background-position: 18.30663615560641% 5.555555555555555%;
}

.svg-Playlist-play-dims {
	width: 24px;
	height: 24px;
}

.svg-Podcast {
	background-position: 18.30663615560641% 11.11111111111111%;
}

.svg-Podcast-dims {
	width: 24px;
	height: 24px;
}

.svg-Queue-add {
	background-position: 0 16.666666666666668%;
}

.svg-Queue-add-dims {
	width: 24px;
	height: 24px;
}

.svg-Replay-10 {
	background-position: 5.491990846681922% 16.666666666666668%;
}

.svg-Replay-10-dims {
	width: 24px;
	height: 24px;
}

.svg-Replay-30 {
	background-position: 10.983981693363845% 16.666666666666668%;
}

.svg-Replay-30-dims {
	width: 24px;
	height: 24px;
}

.svg-Replay-5 {
	background-position: 16.475972540045767% 16.666666666666668%;
}

.svg-Replay-5-dims {
	width: 24px;
	height: 24px;
}

.svg-Settings-vertical {
	background-position: 23.79862700228833% 0;
}

.svg-Settings-vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-Share {
	background-position: 23.79862700228833% 5.555555555555555%;
}

.svg-Share-dims {
	width: 24px;
	height: 24px;
}

.svg-Tag {
	background-position: 23.636363636363637% 11.11111111111111%;
}

.svg-Tag-dims {
	width: 21px;
	height: 24px;
}

.svg-Thumb-down {
	background-position: 23.79862700228833% 16.666666666666668%;
}

.svg-Thumb-down-dims {
	width: 24px;
	height: 24px;
}

.svg-Thumb-up {
	background-position: 0 22.22222222222222%;
}

.svg-Thumb-up-dims {
	width: 24px;
	height: 24px;
}

.svg-accessibility {
	background-position: 5.491990846681922% 22.22222222222222%;
}

.svg-accessibility-dims {
	width: 24px;
	height: 24px;
}

.svg-accessible {
	background-position: 10.983981693363845% 22.22222222222222%;
}

.svg-accessible-dims {
	width: 24px;
	height: 24px;
}

.svg-account-balance {
	background-position: 16.475972540045767% 22.22222222222222%;
}

.svg-account-balance-dims {
	width: 24px;
	height: 24px;
}

.svg-account-balance-wallet {
	background-position: 21.96796338672769% 22.22222222222222%;
}

.svg-account-balance-wallet-dims {
	width: 24px;
	height: 24px;
}

.svg-add-box {
	background-position: 29.290617848970253% 0;
}

.svg-add-box-dims {
	width: 24px;
	height: 24px;
}

.svg-add-circle {
	background-position: 29.290617848970253% 5.555555555555555%;
}

.svg-add-circle-dims {
	width: 24px;
	height: 24px;
}

.svg-airplay {
	background-position: 29.290617848970253% 11.11111111111111%;
}

.svg-airplay-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-down {
	background-position: 29.290617848970253% 16.666666666666668%;
}

.svg-arrow-alt-down-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-downleft {
	background-position: 29.290617848970253% 22.22222222222222%;
}

.svg-arrow-alt-downleft-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-left {
	background-position: 0 27.77777777777778%;
}

.svg-arrow-alt-left-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-leftup {
	background-position: 5.491990846681922% 27.77777777777778%;
}

.svg-arrow-alt-leftup-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-right {
	background-position: 10.983981693363845% 27.77777777777778%;
}

.svg-arrow-alt-right-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-rightdown {
	background-position: 16.475972540045767% 27.77777777777778%;
}

.svg-arrow-alt-rightdown-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-up {
	background-position: 21.96796338672769% 27.77777777777778%;
}

.svg-arrow-alt-up-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-alt-upright {
	background-position: 27.45995423340961% 27.77777777777778%;
}

.svg-arrow-alt-upright-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-down {
	background-position: 34.78260869565217% 0;
}

.svg-arrow-down-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-left {
	background-position: 34.78260869565217% 5.555555555555555%;
}

.svg-arrow-left-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-right {
	background-position: 34.78260869565217% 11.11111111111111%;
}

.svg-arrow-right-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow-up {
	background-position: 34.78260869565217% 16.666666666666668%;
}

.svg-arrow-up-dims {
	width: 24px;
	height: 24px;
}

.svg-assignment {
	background-position: 34.78260869565217% 22.22222222222222%;
}

.svg-assignment-dims {
	width: 24px;
	height: 24px;
}

.svg-attach {
	background-position: 34.78260869565217% 27.77777777777778%;
}

.svg-attach-dims {
	width: 24px;
	height: 24px;
}

.svg-attach-money {
	background-position: 0 33.333333333333336%;
}

.svg-attach-money-dims {
	width: 24px;
	height: 24px;
}

.svg-bank-note {
	background-position: 5.491990846681922% 33.333333333333336%;
}

.svg-bank-note-dims {
	width: 24px;
	height: 24px;
}

.svg-binoculars {
	background-position: 10.983981693363845% 33.333333333333336%;
}

.svg-binoculars-dims {
	width: 24px;
	height: 24px;
}

.svg-book {
	background-position: 16.475972540045767% 33.333333333333336%;
}

.svg-book-dims {
	width: 24px;
	height: 24px;
}

.svg-bookmark {
	background-position: 21.96796338672769% 33.333333333333336%;
}

.svg-bookmark-dims {
	width: 24px;
	height: 24px;
}

.svg-bookmark-o {
	background-position: 27.45995423340961% 33.333333333333336%;
}

.svg-bookmark-o-dims {
	width: 24px;
	height: 24px;
}

.svg-books {
	background-position: 32.951945080091534% 33.333333333333336%;
}

.svg-books-dims {
	width: 24px;
	height: 24px;
}

.svg-border-all {
	background-position: 40.274599542334094% 0;
}

.svg-border-all-dims {
	width: 24px;
	height: 24px;
}

.svg-border-bottom {
	background-position: 40.274599542334094% 5.555555555555555%;
}

.svg-border-bottom-dims {
	width: 24px;
	height: 24px;
}

.svg-border-horizontal {
	background-position: 40.274599542334094% 11.11111111111111%;
}

.svg-border-horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-border-inner {
	background-position: 40.274599542334094% 16.666666666666668%;
}

.svg-border-inner-dims {
	width: 24px;
	height: 24px;
}

.svg-border-left {
	background-position: 40.274599542334094% 22.22222222222222%;
}

.svg-border-left-dims {
	width: 24px;
	height: 24px;
}

.svg-border-none {
	background-position: 40.274599542334094% 27.77777777777778%;
}

.svg-border-none-dims {
	width: 24px;
	height: 24px;
}

.svg-border-outer {
	background-position: 40.274599542334094% 33.333333333333336%;
}

.svg-border-outer-dims {
	width: 24px;
	height: 24px;
}

.svg-border-right {
	background-position: 0 38.888888888888886%;
}

.svg-border-right-dims {
	width: 24px;
	height: 24px;
}

.svg-border-top {
	background-position: 5.491990846681922% 38.888888888888886%;
}

.svg-border-top-dims {
	width: 24px;
	height: 24px;
}

.svg-border-vertical {
	background-position: 10.983981693363845% 38.888888888888886%;
}

.svg-border-vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-business-graph-bar {
	background-position: 16.475972540045767% 38.888888888888886%;
}

.svg-business-graph-bar-dims {
	width: 24px;
	height: 24px;
}

.svg-business-graph-bar-decrease {
	background-position: 21.96796338672769% 38.888888888888886%;
}

.svg-business-graph-bar-decrease-dims {
	width: 24px;
	height: 24px;
}

.svg-business-graph-bar-increase {
	background-position: 27.45995423340961% 38.888888888888886%;
}

.svg-business-graph-bar-increase-dims {
	width: 24px;
	height: 24px;
}

.svg-business-graph-bar-status {
	background-position: 32.951945080091534% 38.888888888888886%;
}

.svg-business-graph-bar-status-dims {
	width: 24px;
	height: 24px;
}

.svg-business-graph-pie {
	background-position: 38.443935926773456% 38.888888888888886%;
}

.svg-business-graph-pie-dims {
	width: 24px;
	height: 24px;
}

.svg-calculator {
	background-position: 45.76659038901602% 0;
}

.svg-calculator-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar {
	background-position: 45.76659038901602% 5.555555555555555%;
}

.svg-calendar-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-add {
	background-position: 45.76659038901602% 11.11111111111111%;
}

.svg-calendar-add-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-blank {
	background-position: 45.76659038901602% 16.666666666666668%;
}

.svg-calendar-blank-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-check {
	background-position: 45.76659038901602% 22.22222222222222%;
}

.svg-calendar-check-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-delete {
	background-position: 45.76659038901602% 27.77777777777778%;
}

.svg-calendar-delete-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-note {
	background-position: 45.76659038901602% 33.333333333333336%;
}

.svg-calendar-note-dims {
	width: 24px;
	height: 24px;
}

.svg-calendar-remove {
	background-position: 45.76659038901602% 38.888888888888886%;
}

.svg-calendar-remove-dims {
	width: 24px;
	height: 24px;
}

.svg-caret-down {
	background-position: 0 44.44444444444444%;
}

.svg-caret-down-dims {
	width: 24px;
	height: 24px;
}

.svg-caret-left {
	background-position: 5.491990846681922% 44.44444444444444%;
}

.svg-caret-left-dims {
	width: 24px;
	height: 24px;
}

.svg-caret-right {
	background-position: 10.983981693363845% 44.44444444444444%;
}

.svg-caret-right-dims {
	width: 24px;
	height: 24px;
}

.svg-caret-up {
	background-position: 16.475972540045767% 44.44444444444444%;
}

.svg-caret-up-dims {
	width: 24px;
	height: 24px;
}

.svg-cast {
	background-position: 21.96796338672769% 44.44444444444444%;
}

.svg-cast-dims {
	width: 24px;
	height: 24px;
}

.svg-chat {
	background-position: 27.45995423340961% 44.44444444444444%;
}

.svg-chat-dims {
	width: 24px;
	height: 24px;
}

.svg-chat-conversation {
	background-position: 32.951945080091534% 44.44444444444444%;
}

.svg-chat-conversation-dims {
	width: 24px;
	height: 24px;
}

.svg-checkmark {
	background-position: 38.443935926773456% 44.44444444444444%;
}

.svg-checkmark-dims {
	width: 24px;
	height: 24px;
}

.svg-checkmark-0 {
	background-position: 43.93592677345538% 44.44444444444444%;
}

.svg-checkmark-0-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-circle-down {
	background-position: 50.90909090909091% 0;
}

.svg-chevron-circle-down-dims {
	width: 21px;
	height: 24px;
}

.svg-chevron-circle-left {
	background-position: 50.90909090909091% 5.555555555555555%;
}

.svg-chevron-circle-left-dims {
	width: 21px;
	height: 24px;
}

.svg-chevron-circle-right {
	background-position: 50.90909090909091% 11.11111111111111%;
}

.svg-chevron-circle-right-dims {
	width: 21px;
	height: 24px;
}

.svg-chevron-circle-up {
	background-position: 50.90909090909091% 16.666666666666668%;
}

.svg-chevron-circle-up-dims {
	width: 21px;
	height: 24px;
}

.svg-chevron-down {
	background-position: 0 50%;
}

.svg-chevron-down-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-left {
	background-position: 5.491990846681922% 50%;
}

.svg-chevron-left-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-right {
	background-position: 10.983981693363845% 50%;
}

.svg-chevron-right-dims {
	width: 24px;
	height: 24px;
}

.svg-chevron-up {
	background-position: 16.475972540045767% 50%;
}

.svg-chevron-up-dims {
	width: 24px;
	height: 24px;
}

.svg-circle-filled {
	background-position: 21.96796338672769% 50%;
}

.svg-circle-filled-dims {
	width: 24px;
	height: 24px;
}

.svg-clock {
	background-position: 27.45995423340961% 50%;
}

.svg-clock-dims {
	width: 24px;
	height: 24px;
}

.svg-close {
	background-position: 32.951945080091534% 50%;
}

.svg-close-dims {
	width: 24px;
	height: 24px;
}

.svg-cloud {
	background-position: 38.443935926773456% 50%;
}

.svg-cloud-dims {
	width: 24px;
	height: 24px;
}

.svg-cloud-done {
	background-position: 43.93592677345538% 50%;
}

.svg-cloud-done-dims {
	width: 24px;
	height: 24px;
}

.svg-cloud-download {
	background-position: 49.4279176201373% 50%;
}

.svg-cloud-download-dims {
	width: 24px;
	height: 24px;
}

.svg-cloud-upload {
	background-position: 56.06407322654462% 0;
}

.svg-cloud-upload-dims {
	width: 24px;
	height: 24px;
}

.svg-code {
	background-position: 0 0;
}

.svg-code-dims {
	width: 30px;
	height: 24px;
}

.svg-coin-receive {
	background-position: 56.06407322654462% 11.11111111111111%;
}

.svg-coin-receive-dims {
	width: 24px;
	height: 24px;
}

.svg-coins {
	background-position: 56.06407322654462% 16.666666666666668%;
}

.svg-coins-dims {
	width: 24px;
	height: 24px;
}

.svg-compass {
	background-position: 56.06407322654462% 22.22222222222222%;
}

.svg-compass-dims {
	width: 24px;
	height: 24px;
}

.svg-content-box {
	background-position: 56.06407322654462% 27.77777777777778%;
}

.svg-content-box-dims {
	width: 24px;
	height: 24px;
}

.svg-content-box-alt {
	background-position: 56.06407322654462% 33.333333333333336%;
}

.svg-content-box-alt-dims {
	width: 24px;
	height: 24px;
}

.svg-content-box-filled {
	background-position: 56.06407322654462% 38.888888888888886%;
}

.svg-content-box-filled-dims {
	width: 24px;
	height: 24px;
}

.svg-content-briefcase {
	background-position: 56.06407322654462% 44.44444444444444%;
}

.svg-content-briefcase-dims {
	width: 24px;
	height: 24px;
}

.svg-context-section {
	background-position: 56.06407322654462% 50%;
}

.svg-context-section-dims {
	width: 24px;
	height: 24px;
}

.svg-copyright {
	background-position: 0 55.55555555555556%;
}

.svg-copyright-dims {
	width: 24px;
	height: 24px;
}

.svg-credit-card {
	background-position: 5.491990846681922% 55.55555555555556%;
}

.svg-credit-card-dims {
	width: 24px;
	height: 24px;
}

.svg-credit-card-lock {
	background-position: 10.983981693363845% 55.55555555555556%;
}

.svg-credit-card-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-cursor {
	background-position: 16.475972540045767% 55.55555555555556%;
}

.svg-cursor-dims {
	width: 24px;
	height: 24px;
}

.svg-cursor-target {
	background-position: 21.96796338672769% 55.55555555555556%;
}

.svg-cursor-target-dims {
	width: 24px;
	height: 24px;
}

.svg-cut {
	background-position: 27.45995423340961% 55.55555555555556%;
}

.svg-cut-dims {
	width: 24px;
	height: 24px;
}

.svg-dashboard {
	background-position: 32.951945080091534% 55.55555555555556%;
}

.svg-dashboard-dims {
	width: 24px;
	height: 24px;
}

.svg-desktop {
	background-position: 38.443935926773456% 55.55555555555556%;
}

.svg-desktop-dims {
	width: 24px;
	height: 24px;
}

.svg-dollar-circle {
	background-position: 43.93592677345538% 55.55555555555556%;
}

.svg-dollar-circle-dims {
	width: 24px;
	height: 24px;
}

.svg-drag-handle-horizontal {
	background-position: 49.4279176201373% 55.55555555555556%;
}

.svg-drag-handle-horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-drag-handle-vertical {
	background-position: 54.91990846681922% 55.55555555555556%;
}

.svg-drag-handle-vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-edit {
	background-position: 61.556064073226544% 0;
}

.svg-edit-dims {
	width: 24px;
	height: 24px;
}

.svg-eject {
	background-position: 61.556064073226544% 5.555555555555555%;
}

.svg-eject-dims {
	width: 24px;
	height: 24px;
}

.svg-email-at {
	background-position: 61.556064073226544% 11.11111111111111%;
}

.svg-email-at-dims {
	width: 24px;
	height: 24px;
}

.svg-email-closed {
	background-position: 61.556064073226544% 16.666666666666668%;
}

.svg-email-closed-dims {
	width: 24px;
	height: 24px;
}

.svg-email-open {
	background-position: 61.556064073226544% 22.22222222222222%;
}

.svg-email-open-dims {
	width: 24px;
	height: 24px;
}

.svg-enlarge {
	background-position: 61.556064073226544% 27.77777777777778%;
}

.svg-enlarge-dims {
	width: 24px;
	height: 24px;
}

.svg-enlarge2 {
	background-position: 61.556064073226544% 33.333333333333336%;
}

.svg-enlarge2-dims {
	width: 24px;
	height: 24px;
}

.svg-equalizer {
	background-position: 61.556064073226544% 38.888888888888886%;
}

.svg-equalizer-dims {
	width: 24px;
	height: 24px;
}

.svg-exit-to-app {
	background-position: 61.556064073226544% 44.44444444444444%;
}

.svg-exit-to-app-dims {
	width: 24px;
	height: 24px;
}

.svg-eye {
	background-position: 61.556064073226544% 50%;
}

.svg-eye-dims {
	width: 24px;
	height: 24px;
}

.svg-eye-hide {
	background-position: 61.556064073226544% 55.55555555555556%;
}

.svg-eye-hide-dims {
	width: 24px;
	height: 24px;
}

.svg-eye-show {
	background-position: 0 61.111111111111114%;
}

.svg-eye-show-dims {
	width: 24px;
	height: 24px;
}

.svg-eye-slash {
	background-position: 5.491990846681922% 61.111111111111114%;
}

.svg-eye-slash-dims {
	width: 24px;
	height: 24px;
}

.svg-fast-forward {
	background-position: 10.983981693363845% 61.111111111111114%;
}

.svg-fast-forward-dims {
	width: 24px;
	height: 24px;
}

.svg-fast-rewind {
	background-position: 16.475972540045767% 61.111111111111114%;
}

.svg-fast-rewind-dims {
	width: 24px;
	height: 24px;
}

.svg-favorite {
	background-position: 21.96796338672769% 61.111111111111114%;
}

.svg-favorite-dims {
	width: 24px;
	height: 24px;
}

.svg-favorite-o {
	background-position: 27.45995423340961% 61.111111111111114%;
}

.svg-favorite-o-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback-attention {
	background-position: 32.951945080091534% 61.111111111111114%;
}

.svg-feedback-attention-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback-error {
	background-position: 38.443935926773456% 61.111111111111114%;
}

.svg-feedback-error-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback-remove {
	background-position: 43.93592677345538% 61.111111111111114%;
}

.svg-feedback-remove-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback-stop {
	background-position: 49.4279176201373% 61.111111111111114%;
}

.svg-feedback-stop-dims {
	width: 24px;
	height: 24px;
}

.svg-feedback-warning {
	background-position: 54.91990846681922% 61.111111111111114%;
}

.svg-feedback-warning-dims {
	width: 24px;
	height: 24px;
}

.svg-file {
	background-position: 60.411899313501145% 61.111111111111114%;
}

.svg-file-dims {
	width: 24px;
	height: 24px;
}

.svg-file-audio {
	background-position: 67.04805491990847% 0;
}

.svg-file-audio-dims {
	width: 24px;
	height: 24px;
}

.svg-file-bookmark {
	background-position: 67.04805491990847% 5.555555555555555%;
}

.svg-file-bookmark-dims {
	width: 24px;
	height: 24px;
}

.svg-file-download {
	background-position: 67.04805491990847% 11.11111111111111%;
}

.svg-file-download-dims {
	width: 24px;
	height: 24px;
}

.svg-file-download2 {
	background-position: 67.04805491990847% 16.666666666666668%;
}

.svg-file-download2-dims {
	width: 24px;
	height: 24px;
}

.svg-file-favorite {
	background-position: 67.04805491990847% 22.22222222222222%;
}

.svg-file-favorite-dims {
	width: 24px;
	height: 24px;
}

.svg-file-favorite-star {
	background-position: 67.04805491990847% 27.77777777777778%;
}

.svg-file-favorite-star-dims {
	width: 24px;
	height: 24px;
}

.svg-file-graph {
	background-position: 67.04805491990847% 33.333333333333336%;
}

.svg-file-graph-dims {
	width: 24px;
	height: 24px;
}

.svg-file-graph-2 {
	background-position: 67.04805491990847% 38.888888888888886%;
}

.svg-file-graph-2-dims {
	width: 24px;
	height: 24px;
}

.svg-file-landscape {
	background-position: 67.04805491990847% 44.44444444444444%;
}

.svg-file-landscape-dims {
	width: 24px;
	height: 24px;
}

.svg-file-landscape-image {
	background-position: 67.04805491990847% 50%;
}

.svg-file-landscape-image-dims {
	width: 24px;
	height: 24px;
}

.svg-file-landscape-new {
	background-position: 67.04805491990847% 55.55555555555556%;
}

.svg-file-landscape-new-dims {
	width: 24px;
	height: 24px;
}

.svg-file-lock {
	background-position: 67.04805491990847% 61.111111111111114%;
}

.svg-file-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-file-note {
	background-position: 0 66.66666666666667%;
}

.svg-file-note-dims {
	width: 24px;
	height: 24px;
}

.svg-file-tasks-checklist {
	background-position: 5.491990846681922% 66.66666666666667%;
}

.svg-file-tasks-checklist-dims {
	width: 24px;
	height: 24px;
}

.svg-file-upload {
	background-position: 10.983981693363845% 66.66666666666667%;
}

.svg-file-upload-dims {
	width: 24px;
	height: 24px;
}

.svg-file-upload2 {
	background-position: 16.475972540045767% 66.66666666666667%;
}

.svg-file-upload2-dims {
	width: 24px;
	height: 24px;
}

.svg-file-video {
	background-position: 21.96796338672769% 66.66666666666667%;
}

.svg-file-video-dims {
	width: 24px;
	height: 24px;
}

.svg-file-view {
	background-position: 27.45995423340961% 66.66666666666667%;
}

.svg-file-view-dims {
	width: 24px;
	height: 24px;
}

.svg-files {
	background-position: 32.951945080091534% 66.66666666666667%;
}

.svg-files-dims {
	width: 24px;
	height: 24px;
}

.svg-files-2 {
	background-position: 38.443935926773456% 66.66666666666667%;
}

.svg-files-2-dims {
	width: 24px;
	height: 24px;
}

.svg-files-coding {
	background-position: 43.93592677345538% 66.66666666666667%;
}

.svg-files-coding-dims {
	width: 24px;
	height: 24px;
}

.svg-files-compare {
	background-position: 49.4279176201373% 66.66666666666667%;
}

.svg-files-compare-dims {
	width: 24px;
	height: 24px;
}

.svg-files-landscape {
	background-position: 54.91990846681922% 66.66666666666667%;
}

.svg-files-landscape-dims {
	width: 24px;
	height: 24px;
}

.svg-files-library {
	background-position: 60.411899313501145% 66.66666666666667%;
}

.svg-files-library-dims {
	width: 24px;
	height: 24px;
}

.svg-filter {
	background-position: 50.678733031674206% 22.22222222222222%;
}

.svg-filter-dims {
	width: 19px;
	height: 24px;
}

.svg-first-page {
	background-position: 65.90389016018307% 66.66666666666667%;
}

.svg-first-page-dims {
	width: 24px;
	height: 24px;
}

.svg-flag {
	background-position: 72.5400457665904% 0;
}

.svg-flag-dims {
	width: 24px;
	height: 24px;
}

.svg-folder {
	background-position: 72.5400457665904% 5.555555555555555%;
}

.svg-folder-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-audio {
	background-position: 72.5400457665904% 11.11111111111111%;
}

.svg-folder-audio-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-block {
	background-position: 72.5400457665904% 16.666666666666668%;
}

.svg-folder-block-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-bookmark {
	background-position: 5.949656750572083% 5.555555555555555%;
}

.svg-folder-bookmark-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-check {
	background-position: 72.5400457665904% 27.77777777777778%;
}

.svg-folder-check-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-favorite-star {
	background-position: 72.5400457665904% 33.333333333333336%;
}

.svg-folder-favorite-star-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-home {
	background-position: 72.5400457665904% 38.888888888888886%;
}

.svg-folder-home-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-image {
	background-position: 72.5400457665904% 44.44444444444444%;
}

.svg-folder-image-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-lock {
	background-position: 72.5400457665904% 50%;
}

.svg-folder-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-network {
	background-position: 72.5400457665904% 55.55555555555556%;
}

.svg-folder-network-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-refresh {
	background-position: 72.5400457665904% 61.111111111111114%;
}

.svg-folder-refresh-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-settings {
	background-position: 72.5400457665904% 66.66666666666667%;
}

.svg-folder-settings-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-shared {
	background-position: 0 72.22222222222223%;
}

.svg-folder-shared-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-special {
	background-position: 5.491990846681922% 72.22222222222223%;
}

.svg-folder-special-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-upload {
	background-position: 10.983981693363845% 72.22222222222223%;
}

.svg-folder-upload-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-video {
	background-position: 16.475972540045767% 72.22222222222223%;
}

.svg-folder-video-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-view {
	background-position: 21.96796338672769% 72.22222222222223%;
}

.svg-folder-view-dims {
	width: 24px;
	height: 24px;
}

.svg-folder-zip {
	background-position: 27.45995423340961% 72.22222222222223%;
}

.svg-folder-zip-dims {
	width: 24px;
	height: 24px;
}

.svg-folders {
	background-position: 32.951945080091534% 72.22222222222223%;
}

.svg-folders-dims {
	width: 24px;
	height: 24px;
}

.svg-format-align-center {
	background-position: 38.443935926773456% 72.22222222222223%;
}

.svg-format-align-center-dims {
	width: 24px;
	height: 24px;
}

.svg-format-align-justify {
	background-position: 43.93592677345538% 72.22222222222223%;
}

.svg-format-align-justify-dims {
	width: 24px;
	height: 24px;
}

.svg-format-align-left {
	background-position: 49.4279176201373% 72.22222222222223%;
}

.svg-format-align-left-dims {
	width: 24px;
	height: 24px;
}

.svg-format-align-right {
	background-position: 54.91990846681922% 72.22222222222223%;
}

.svg-format-align-right-dims {
	width: 24px;
	height: 24px;
}

.svg-format-bold {
	background-position: 60.411899313501145% 72.22222222222223%;
}

.svg-format-bold-dims {
	width: 24px;
	height: 24px;
}

.svg-format-clear {
	background-position: 65.90389016018307% 72.22222222222223%;
}

.svg-format-clear-dims {
	width: 24px;
	height: 24px;
}

.svg-format-color-fill {
	background-position: 71.39588100686498% 72.22222222222223%;
}

.svg-format-color-fill-dims {
	width: 24px;
	height: 24px;
}

.svg-format-color-reset {
	background-position: 78.03203661327231% 0;
}

.svg-format-color-reset-dims {
	width: 24px;
	height: 24px;
}

.svg-format-color-text {
	background-position: 78.03203661327231% 5.555555555555555%;
}

.svg-format-color-text-dims {
	width: 24px;
	height: 24px;
}

.svg-format-font {
	background-position: 78.03203661327231% 11.11111111111111%;
}

.svg-format-font-dims {
	width: 24px;
	height: 24px;
}

.svg-format-indent-decrease {
	background-position: 78.03203661327231% 16.666666666666668%;
}

.svg-format-indent-decrease-dims {
	width: 24px;
	height: 24px;
}

.svg-format-indent-increase {
	background-position: 78.03203661327231% 22.22222222222222%;
}

.svg-format-indent-increase-dims {
	width: 24px;
	height: 24px;
}

.svg-format-italic {
	background-position: 78.03203661327231% 27.77777777777778%;
}

.svg-format-italic-dims {
	width: 24px;
	height: 24px;
}

.svg-format-line-spacing {
	background-position: 78.03203661327231% 33.333333333333336%;
}

.svg-format-line-spacing-dims {
	width: 24px;
	height: 24px;
}

.svg-format-list-bulleted {
	background-position: 78.03203661327231% 38.888888888888886%;
}

.svg-format-list-bulleted-dims {
	width: 24px;
	height: 24px;
}

.svg-format-list-numbered {
	background-position: 78.03203661327231% 44.44444444444444%;
}

.svg-format-list-numbered-dims {
	width: 24px;
	height: 24px;
}

.svg-format-paint {
	background-position: 78.03203661327231% 50%;
}

.svg-format-paint-dims {
	width: 24px;
	height: 24px;
}

.svg-format-quote {
	background-position: 78.03203661327231% 55.55555555555556%;
}

.svg-format-quote-dims {
	width: 24px;
	height: 24px;
}

.svg-format-shapes {
	background-position: 78.03203661327231% 61.111111111111114%;
}

.svg-format-shapes-dims {
	width: 24px;
	height: 24px;
}

.svg-format-size {
	background-position: 78.03203661327231% 66.66666666666667%;
}

.svg-format-size-dims {
	width: 24px;
	height: 24px;
}

.svg-format-strikethrough {
	background-position: 78.03203661327231% 72.22222222222223%;
}

.svg-format-strikethrough-dims {
	width: 24px;
	height: 24px;
}

.svg-fullscreen {
	background-position: 0 77.77777777777777%;
}

.svg-fullscreen-dims {
	width: 24px;
	height: 24px;
}

.svg-fullscreen-exit {
	background-position: 5.491990846681922% 77.77777777777777%;
}

.svg-fullscreen-exit-dims {
	width: 24px;
	height: 24px;
}

.svg-globe {
	background-position: 10.983981693363845% 77.77777777777777%;
}

.svg-globe-dims {
	width: 24px;
	height: 24px;
}

.svg-hearing {
	background-position: 16.475972540045767% 77.77777777777777%;
}

.svg-hearing-dims {
	width: 24px;
	height: 24px;
}

.svg-home2 {
	background-position: 21.867881548974943% 77.77777777777777%;
}

.svg-home2-dims {
	width: 22px;
	height: 24px;
}

.svg-hourglass {
	background-position: 27.002288329519452% 77.77777777777777%;
}

.svg-hourglass-dims {
	width: 24px;
	height: 24px;
}

.svg-hourglass-o {
	background-position: 32.494279176201374% 77.77777777777777%;
}

.svg-hourglass-o-dims {
	width: 24px;
	height: 24px;
}

.svg-id-badge {
	background-position: 37.986270022883296% 77.77777777777777%;
}

.svg-id-badge-dims {
	width: 24px;
	height: 24px;
}

.svg-id-card {
	background-position: 43.47826086956522% 77.77777777777777%;
}

.svg-id-card-dims {
	width: 24px;
	height: 24px;
}

.svg-image {
	background-position: 48.97025171624714% 77.77777777777777%;
}

.svg-image-dims {
	width: 24px;
	height: 24px;
}

.svg-keyhole {
	background-position: 54.46224256292906% 77.77777777777777%;
}

.svg-keyhole-dims {
	width: 24px;
	height: 24px;
}

.svg-label {
	background-position: 59.954233409610985% 77.77777777777777%;
}

.svg-label-dims {
	width: 24px;
	height: 24px;
}

.svg-laptop {
	background-position: 65.44622425629291% 77.77777777777777%;
}

.svg-laptop-dims {
	width: 24px;
	height: 24px;
}

.svg-last-page {
	background-position: 70.93821510297482% 77.77777777777777%;
}

.svg-last-page-dims {
	width: 24px;
	height: 24px;
}

.svg-layers {
	background-position: 76.43020594965675% 77.77777777777777%;
}

.svg-layers-dims {
	width: 24px;
	height: 24px;
}

.svg-layers-off {
	background-position: 83.52402745995424% 0;
}

.svg-layers-off-dims {
	width: 24px;
	height: 24px;
}

.svg-library-books {
	background-position: 83.52402745995424% 5.555555555555555%;
}

.svg-library-books-dims {
	width: 24px;
	height: 24px;
}

.svg-line-style {
	background-position: 83.52402745995424% 11.11111111111111%;
}

.svg-line-style-dims {
	width: 24px;
	height: 24px;
}

.svg-line-weight {
	background-position: 83.52402745995424% 16.666666666666668%;
}

.svg-line-weight-dims {
	width: 24px;
	height: 24px;
}

.svg-list {
	background-position: 83.52402745995424% 22.22222222222222%;
}

.svg-list-dims {
	width: 24px;
	height: 24px;
}

.svg-list-add {
	background-position: 83.52402745995424% 27.77777777777778%;
}

.svg-list-add-dims {
	width: 24px;
	height: 24px;
}

.svg-live-help {
	background-position: 83.52402745995424% 33.333333333333336%;
}

.svg-live-help-dims {
	width: 24px;
	height: 24px;
}

.svg-loading {
	background-position: 83.52402745995424% 38.888888888888886%;
}

.svg-loading-dims {
	width: 24px;
	height: 24px;
}

.svg-local-shipping {
	background-position: 83.52402745995424% 44.44444444444444%;
}

.svg-local-shipping-dims {
	width: 24px;
	height: 24px;
}

.svg-lock {
	background-position: 83.52402745995424% 50%;
}

.svg-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-map-pin {
	background-position: 83.52402745995424% 55.55555555555556%;
}

.svg-map-pin-dims {
	width: 24px;
	height: 24px;
}

.svg-menu {
	background-position: 83.52402745995424% 61.111111111111114%;
}

.svg-menu-dims {
	width: 24px;
	height: 24px;
}

.svg-message {
	background-position: 83.52402745995424% 66.66666666666667%;
}

.svg-message-dims {
	width: 24px;
	height: 24px;
}

.svg-message-bubble-blank {
	background-position: 83.52402745995424% 72.22222222222223%;
}

.svg-message-bubble-blank-dims {
	width: 24px;
	height: 24px;
}

.svg-mic-off {
	background-position: 83.52402745995424% 77.77777777777777%;
}

.svg-mic-off-dims {
	width: 24px;
	height: 24px;
}

.svg-mic-on {
	background-position: 0 83.33333333333333%;
}

.svg-mic-on-dims {
	width: 24px;
	height: 24px;
}

.svg-mms {
	background-position: 5.491990846681922% 83.33333333333333%;
}

.svg-mms-dims {
	width: 24px;
	height: 24px;
}

.svg-mobile {
	background-position: 10.983981693363845% 83.33333333333333%;
}

.svg-mobile-dims {
	width: 24px;
	height: 24px;
}

.svg-money-note {
	background-position: 16.475972540045767% 83.33333333333333%;
}

.svg-money-note-dims {
	width: 24px;
	height: 24px;
}

.svg-mood-bad {
	background-position: 21.96796338672769% 83.33333333333333%;
}

.svg-mood-bad-dims {
	width: 24px;
	height: 24px;
}

.svg-mood-excited {
	background-position: 27.45995423340961% 83.33333333333333%;
}

.svg-mood-excited-dims {
	width: 24px;
	height: 24px;
}

.svg-mood-happy {
	background-position: 32.951945080091534% 83.33333333333333%;
}

.svg-mood-happy-dims {
	width: 24px;
	height: 24px;
}

.svg-mood-neutral {
	background-position: 38.443935926773456% 83.33333333333333%;
}

.svg-mood-neutral-dims {
	width: 24px;
	height: 24px;
}

.svg-mood-sad {
	background-position: 43.93592677345538% 83.33333333333333%;
}

.svg-mood-sad-dims {
	width: 24px;
	height: 24px;
}

.svg-more-horizontal {
	background-position: 49.4279176201373% 83.33333333333333%;
}

.svg-more-horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-more-vertical {
	background-position: 54.91990846681922% 83.33333333333333%;
}

.svg-more-vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-mouse {
	background-position: 60.411899313501145% 83.33333333333333%;
}

.svg-mouse-dims {
	width: 24px;
	height: 24px;
}

.svg-notification {
	background-position: 65.90389016018307% 83.33333333333333%;
}

.svg-notification-dims {
	width: 24px;
	height: 24px;
}

.svg-notification-active {
	background-position: 71.39588100686498% 83.33333333333333%;
}

.svg-notification-active-dims {
	width: 24px;
	height: 24px;
}

.svg-notifications-add {
	background-position: 76.88787185354691% 83.33333333333333%;
}

.svg-notifications-add-dims {
	width: 24px;
	height: 24px;
}

.svg-notifications-idle {
	background-position: 82.37986270022883% 83.33333333333333%;
}

.svg-notifications-idle-dims {
	width: 24px;
	height: 24px;
}

.svg-notifications-off {
	background-position: 89.01601830663616% 0;
}

.svg-notifications-off-dims {
	width: 24px;
	height: 24px;
}

.svg-open-in-new {
	background-position: 89.01601830663616% 5.555555555555555%;
}

.svg-open-in-new-dims {
	width: 24px;
	height: 24px;
}

.svg-package {
	background-position: 89.01601830663616% 11.11111111111111%;
}

.svg-package-dims {
	width: 24px;
	height: 24px;
}

.svg-package-download {
	background-position: 89.01601830663616% 16.666666666666668%;
}

.svg-package-download-dims {
	width: 24px;
	height: 24px;
}

.svg-package-upload {
	background-position: 89.01601830663616% 22.22222222222222%;
}

.svg-package-upload-dims {
	width: 24px;
	height: 24px;
}

.svg-pause {
	background-position: 89.01601830663616% 27.77777777777778%;
}

.svg-pause-dims {
	width: 24px;
	height: 24px;
}

.svg-percent {
	background-position: 89.01601830663616% 33.333333333333336%;
}

.svg-percent-dims {
	width: 24px;
	height: 24px;
}

.svg-picture-in-picture {
	background-position: 89.01601830663616% 38.888888888888886%;
}

.svg-picture-in-picture-dims {
	width: 24px;
	height: 24px;
}

.svg-pictures {
	background-position: 89.01601830663616% 44.44444444444444%;
}

.svg-pictures-dims {
	width: 24px;
	height: 24px;
}

.svg-piggy-bank {
	background-position: 89.01601830663616% 50%;
}

.svg-piggy-bank-dims {
	width: 24px;
	height: 24px;
}

.svg-play-arrow {
	background-position: 89.01601830663616% 55.55555555555556%;
}

.svg-play-arrow-dims {
	width: 24px;
	height: 24px;
}

.svg-plus {
	background-position: 89.01601830663616% 61.111111111111114%;
}

.svg-plus-dims {
	width: 24px;
	height: 24px;
}

.svg-pointer {
	background-position: 89.01601830663616% 66.66666666666667%;
}

.svg-pointer-dims {
	width: 24px;
	height: 24px;
}

.svg-poll {
	background-position: 89.01601830663616% 72.22222222222223%;
}

.svg-poll-dims {
	width: 24px;
	height: 24px;
}

.svg-printer {
	background-position: 89.01601830663616% 77.77777777777777%;
}

.svg-printer-dims {
	width: 24px;
	height: 24px;
}

.svg-priority_high {
	background-position: 89.01601830663616% 83.33333333333333%;
}

.svg-priority_high-dims {
	width: 24px;
	height: 24px;
}

.svg-radio-button-checked {
	background-position: 0 88.88888888888889%;
}

.svg-radio-button-checked-dims {
	width: 24px;
	height: 24px;
}

.svg-radio-button-unchecked {
	background-position: 5.491990846681922% 88.88888888888889%;
}

.svg-radio-button-unchecked-dims {
	width: 24px;
	height: 24px;
}

.svg-receipt {
	background-position: 10.983981693363845% 88.88888888888889%;
}

.svg-receipt-dims {
	width: 24px;
	height: 24px;
}

.svg-redo {
	background-position: 16.475972540045767% 88.88888888888889%;
}

.svg-redo-dims {
	width: 24px;
	height: 24px;
}

.svg-remove {
	background-position: 21.96796338672769% 88.88888888888889%;
}

.svg-remove-dims {
	width: 24px;
	height: 24px;
}

.svg-reply {
	background-position: 27.45995423340961% 88.88888888888889%;
}

.svg-reply-dims {
	width: 24px;
	height: 24px;
}

.svg-reply-all {
	background-position: 32.951945080091534% 88.88888888888889%;
}

.svg-reply-all-dims {
	width: 24px;
	height: 24px;
}

.svg-restore {
	background-position: 38.443935926773456% 88.88888888888889%;
}

.svg-restore-dims {
	width: 24px;
	height: 24px;
}

.svg-search {
	background-position: 43.93592677345538% 88.88888888888889%;
}

.svg-search-dims {
	width: 24px;
	height: 24px;
}

.svg-send {
	background-position: 49.4279176201373% 88.88888888888889%;
}

.svg-send-dims {
	width: 24px;
	height: 24px;
}

.svg-server {
	background-position: 54.91990846681922% 88.88888888888889%;
}

.svg-server-dims {
	width: 24px;
	height: 24px;
}

.svg-settings {
	background-position: 60.411899313501145% 88.88888888888889%;
}

.svg-settings-dims {
	width: 24px;
	height: 24px;
}

.svg-shield {
	background-position: 65.90389016018307% 88.88888888888889%;
}

.svg-shield-dims {
	width: 24px;
	height: 24px;
}

.svg-shrink {
	background-position: 71.39588100686498% 88.88888888888889%;
}

.svg-shrink-dims {
	width: 24px;
	height: 24px;
}

.svg-shrink1 {
	background-position: 76.88787185354691% 88.88888888888889%;
}

.svg-shrink1-dims {
	width: 24px;
	height: 24px;
}

.svg-sitemap {
	background-position: 82.37986270022883% 88.88888888888889%;
}

.svg-sitemap-dims {
	width: 24px;
	height: 24px;
}

.svg-skip-next {
	background-position: 87.87185354691076% 88.88888888888889%;
}

.svg-skip-next-dims {
	width: 24px;
	height: 24px;
}

.svg-skip-previous {
	background-position: 94.50800915331808% 0;
}

.svg-skip-previous-dims {
	width: 24px;
	height: 24px;
}

.svg-sms-failed {
	background-position: 94.50800915331808% 5.555555555555555%;
}

.svg-sms-failed-dims {
	width: 24px;
	height: 24px;
}

.svg-sort {
	background-position: 94.50800915331808% 11.11111111111111%;
}

.svg-sort-dims {
	width: 24px;
	height: 24px;
}

.svg-spellcheck {
	background-position: 94.50800915331808% 16.666666666666668%;
}

.svg-spellcheck-dims {
	width: 24px;
	height: 24px;
}

.svg-star {
	background-position: 94.50800915331808% 22.22222222222222%;
}

.svg-star-dims {
	width: 24px;
	height: 24px;
}

.svg-star-half {
	background-position: 94.50800915331808% 27.77777777777778%;
}

.svg-star-half-dims {
	width: 24px;
	height: 24px;
}

.svg-star-o {
	background-position: 94.50800915331808% 33.333333333333336%;
}

.svg-star-o-dims {
	width: 24px;
	height: 24px;
}

.svg-step-next {
	background-position: 94.50800915331808% 38.888888888888886%;
}

.svg-step-next-dims {
	width: 24px;
	height: 24px;
}

.svg-store {
	background-position: 94.50800915331808% 44.44444444444444%;
}

.svg-store-dims {
	width: 24px;
	height: 24px;
}

.svg-street-signs {
	background-position: 94.50800915331808% 50%;
}

.svg-street-signs-dims {
	width: 24px;
	height: 24px;
}

.svg-swap-horizontal {
	background-position: 94.50800915331808% 55.55555555555556%;
}

.svg-swap-horizontal-dims {
	width: 24px;
	height: 24px;
}

.svg-swap-vertical {
	background-position: 94.50800915331808% 61.111111111111114%;
}

.svg-swap-vertical-dims {
	width: 24px;
	height: 24px;
}

.svg-tablet {
	background-position: 94.50800915331808% 66.66666666666667%;
}

.svg-tablet-dims {
	width: 24px;
	height: 24px;
}

.svg-tag-large {
	background-position: 94.50800915331808% 72.22222222222223%;
}

.svg-tag-large-dims {
	width: 24px;
	height: 24px;
}

.svg-tags {
	background-position: 6.896551724137931% 0;
}

.svg-tags-dims {
	width: 26px;
	height: 24px;
}

.svg-text-wrap {
	background-position: 94.50800915331808% 83.33333333333333%;
}

.svg-text-wrap-dims {
	width: 24px;
	height: 24px;
}

.svg-texting {
	background-position: 94.50800915331808% 88.88888888888889%;
}

.svg-texting-dims {
	width: 24px;
	height: 24px;
}

.svg-timer {
	background-position: 0 94.44444444444444%;
}

.svg-timer-dims {
	width: 24px;
	height: 24px;
}

.svg-timer-off {
	background-position: 5.491990846681922% 94.44444444444444%;
}

.svg-timer-off-dims {
	width: 24px;
	height: 24px;
}

.svg-title {
	background-position: 10.983981693363845% 94.44444444444444%;
}

.svg-title-dims {
	width: 24px;
	height: 24px;
}

.svg-toc {
	background-position: 16.475972540045767% 94.44444444444444%;
}

.svg-toc-dims {
	width: 24px;
	height: 24px;
}

.svg-trademark {
	background-position: 0 5.555555555555555%;
}

.svg-trademark-dims {
	width: 26px;
	height: 24px;
}

.svg-trash {
	background-position: 27.45995423340961% 94.44444444444444%;
}

.svg-trash-dims {
	width: 24px;
	height: 24px;
}

.svg-undo {
	background-position: 32.951945080091534% 94.44444444444444%;
}

.svg-undo-dims {
	width: 24px;
	height: 24px;
}

.svg-undo2 {
	background-position: 38.443935926773456% 94.44444444444444%;
}

.svg-undo2-dims {
	width: 24px;
	height: 24px;
}

.svg-unfold-less {
	background-position: 43.93592677345538% 94.44444444444444%;
}

.svg-unfold-less-dims {
	width: 24px;
	height: 24px;
}

.svg-unfold-more {
	background-position: 49.4279176201373% 94.44444444444444%;
}

.svg-unfold-more-dims {
	width: 24px;
	height: 24px;
}

.svg-unlock {
	background-position: 54.91990846681922% 94.44444444444444%;
}

.svg-unlock-dims {
	width: 24px;
	height: 24px;
}

.svg-update {
	background-position: 60.411899313501145% 94.44444444444444%;
}

.svg-update-dims {
	width: 24px;
	height: 24px;
}

.svg-user {
	background-position: 65.90389016018307% 94.44444444444444%;
}

.svg-user-dims {
	width: 24px;
	height: 24px;
}

.svg-user-add {
	background-position: 71.39588100686498% 94.44444444444444%;
}

.svg-user-add-dims {
	width: 24px;
	height: 24px;
}

.svg-user-block {
	background-position: 76.88787185354691% 94.44444444444444%;
}

.svg-user-block-dims {
	width: 24px;
	height: 24px;
}

.svg-user-check {
	background-position: 82.37986270022883% 94.44444444444444%;
}

.svg-user-check-dims {
	width: 24px;
	height: 24px;
}

.svg-user-circle {
	background-position: 87.87185354691076% 94.44444444444444%;
}

.svg-user-circle-dims {
	width: 24px;
	height: 24px;
}

.svg-user-close {
	background-position: 93.36384439359267% 94.44444444444444%;
}

.svg-user-close-dims {
	width: 24px;
	height: 24px;
}

.svg-user-lock {
	background-position: 100% 0;
}

.svg-user-lock-dims {
	width: 24px;
	height: 24px;
}

.svg-user-refresh {
	background-position: 100% 5.555555555555555%;
}

.svg-user-refresh-dims {
	width: 24px;
	height: 24px;
}

.svg-user-search {
	background-position: 100% 11.11111111111111%;
}

.svg-user-search-dims {
	width: 24px;
	height: 24px;
}

.svg-user-square {
	background-position: 100% 16.666666666666668%;
}

.svg-user-square-dims {
	width: 24px;
	height: 24px;
}

.svg-user-subtract {
	background-position: 100% 22.22222222222222%;
}

.svg-user-subtract-dims {
	width: 24px;
	height: 24px;
}

.svg-user-timeout {
	background-position: 100% 27.77777777777778%;
}

.svg-user-timeout-dims {
	width: 24px;
	height: 24px;
}

.svg-users {
	background-position: 100% 33.333333333333336%;
}

.svg-users-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical-align-bottom {
	background-position: 100% 38.888888888888886%;
}

.svg-vertical-align-bottom-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical-align-center {
	background-position: 100% 44.44444444444444%;
}

.svg-vertical-align-center-dims {
	width: 24px;
	height: 24px;
}

.svg-vertical-align-top {
	background-position: 100% 50%;
}

.svg-vertical-align-top-dims {
	width: 24px;
	height: 24px;
}

.svg-view-columns {
	background-position: 100% 55.55555555555556%;
}

.svg-view-columns-dims {
	width: 24px;
	height: 24px;
}

.svg-view-list {
	background-position: 100% 61.111111111111114%;
}

.svg-view-list-dims {
	width: 24px;
	height: 24px;
}

.svg-view-list-alt {
	background-position: 100% 66.66666666666667%;
}

.svg-view-list-alt-dims {
	width: 24px;
	height: 24px;
}

.svg-view-thumbnails {
	background-position: 100% 72.22222222222223%;
}

.svg-view-thumbnails-dims {
	width: 24px;
	height: 24px;
}

.svg-views-cards {
	background-position: 100% 77.77777777777777%;
}

.svg-views-cards-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom-area-in {
	background-position: 100% 83.33333333333333%;
}

.svg-zoom-area-in-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom-area-out {
	background-position: 100% 88.88888888888889%;
}

.svg-zoom-area-out-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom-in {
	background-position: 100% 94.44444444444444%;
}

.svg-zoom-in-dims {
	width: 24px;
	height: 24px;
}

.svg-zoom-out {
	background-position: 0 100%;
}

.svg-zoom-out-dims {
	width: 24px;
	height: 24px;
}

