
.fk-menu_label, 
.menu_label {
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 700;
  color: #121212;
}

.fk-menu-list_item, 
.menu-list_item {
  font-size: 14px;
  text-decoration: none;
  display: block;
  color: #121212;
  padding-bottom: 5px;
  line-height: 1rem;
  margin-left: 10px;
  &:hover {
      color: rgb(113, 112, 112);
  }
}