// .modal-open      - body class for killing the scroll //tktk Matthew...don't understand
// .modal-container           - container to scroll within
// .modal-positioningshell   - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff

//TKTKTKT NOTE...I AM CURRENTLY RESEARCHING WHAT THESE VARIABLES WILL NEED TO BE

/*

    left: auto;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px)
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;

    */

$fk-modal-padding-y: 0px;
$fk-modal-padding-x: 0px;
$fk-modal-width: 500px;
//$fk-modal-height: 800px;
$fk-modal-border-radius: $bp-size-border-radius-md;

$fk-modal-padding-y-xs: 30px;
$fk-modal-padding-x-xs: 30px;
$fk-modal-width-xs: 300px;
$fk-modal-heigh-xs: 300px;
$fk-modal-border-radius-xs: 5px;

$fk-modal-padding-y-sm: 30px;
$fk-modal-padding-x-sm: 30px;
$fk-modal-width-sm: 300px;
$fk-modal-heigh-sm: 300px;
$fk-modal-border-radius-sm: 5px;

$fk-modal-padding-y-md: 30px;
$fk-modal-padding-x-md: 30px;
$fk-modal-width-md: 300px;
$fk-modal-heigh-md: 300px;
$fk-modal-border-radius-md: 5px;

$fk-modal-padding-y-lg: 30px;
$fk-modal-padding-x-lg: 30px;
$fk-modal-width-lg: 300px;
$fk-modal-heigh-lg: 300px;
$fk-modal-border-radius-lg: 5px;

$fk-modal-padding-y-xl: 30px;
$fk-modal-padding-x-xl: 30px;
$fk-modal-width-xl: 300px;
$fk-modal-heigh-xl: 300px;
$fk-modal-border-radius-xl: 5px;

$fk-modal-padding-y-xxl: 30px;
$fk-modal-padding-x-xxl: 30px;
$fk-modal-width-xxl: 300px;
$fk-modal-heigh-xxl: 300px;
$fk-modal-border-radius-xxl: 5px;

$modal-inner-padding:               1rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

//$modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  $bp-color-neutral-10 !default;
$modal-content-border-color:        $bp-color-border-default !default;
//$modal-content-border-width:        $border-width !default;
//$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       $bp-layering-elevation-24 !default;
$modal-content-box-shadow-sm-up:    $bp-layering-elevation-02 !default;

$modal-backdrop-bg:                 $bp-color-neutral-95 !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $bp-color-neutral-95 !default;
//$modal-footer-border-color:         $modal-header-border-color !default;
//$modal-header-border-width:         $modal-content-border-width !default;
//$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding:              1rem !default;

$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-transition:                  transform .3s ease-out !default;

$zindex-modal-backdrop:             1040 !default; // tktktk Need to create a yml variable for this

$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


// Modal background
.fk-scrim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // REPLACE WITH VARIABLE
  z-index: $zindex-modal-backdrop;

  //z-index: calc((#{$bp-z-index-modal}) -10);

  // REPLACE WITH VARIABLE
//   background-color: $modal-backdrop-bg;

  background-color: $bp-color-neutral-95;
  opacity: $bp-layering-opacity-medium;
  

  // Fade for backdrop
    .fade { opacity: 0; 
            transform: translate(0, -25%);
    }
  // REPLACE WITH VARIABLE
    .show { opacity: $modal-backdrop-opacity; }
}
.fade { opacity: 0; 
    transform: translate(0, -25%);
}