// Blueprint Framekit
////
/// @group button
////




// $button-default-font-size: $bp-size-type-sm;
// $button-default-padding: $bp-space-squish-md;

$button-default-font-weight: null !default;
$button-default-shadow:  val('layering.elevation.01');
$button-default-shadow-hovered:  val('layering.elevation.02');
$button-radius: $bp-size-border-radius-md  !default;

$button-default-button-spacing: $bp-space-spacing-sm;

$button-size-map: map('web.button.size');

$button-ns: 'btn';
$link-button-ns: 'link';


$button-variants: (
    default: (
        theme: (
            "text": feedback-color('interaction'),
            "base": neutral-color('00'),
            "dark": neutral-color('10'),
            "darker": neutral-color('13')
        ),
        options: (

        )
    ),
    primary: (
        theme: map('color.feedback.primary'),
        options: (
        //    'border': 1px solid #333
        )
    ), 
    primary-alt: (
        theme: map('color.feedback.primary-alt'),
        options: ()
    ),
    destructive: (
        theme: map('color.feedback.danger'),
        options: ()
    )
);


$link-button-variants: (
    default: (
        theme: (
            "text": feedback-color('interaction'),
            "base": none,
            "dark": neutral-color('10'),
            "darker": neutral-color('13')
        ),
        options: (

        )
    ),
    secondary: (
        theme: (
            "text": neutral-color('60'),
            "base": none,
            "dark": neutral-color('10'),
            "darker": neutral-color('13')
        )
    ),
    destructive: (
        theme: (
            "text": feedback-color('danger'),
            "base": none,
            "dark": neutral-color('10'),
            "darker": neutral-color('13')
        )
    )
);
