@import '_settings.button.scss';



.fk-#{$button-ns} {
    @include control;
    @include unselectable;
    //white-space: nowrap;
 
   // @include text-crop();
    
    // background-color: $button-default-bg;
    // color: $button-default-color;
    //border: $button-default-border;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 0 0 rgba(22,29,37,.1);


    // @each $size-name, $size-map in $button-size-map {
    //     @if($size-name != 'base'){
    //       &--#{$size-name}{
    //          //font-size: map-get(map-get($map: $button-size-map, $key: $size-name ), 'font-size')
    //          @include button-size-variant(map-get($button-size-map, $size-name))
    //       }
    //     }
    // }

    // @each $variant-name, $variant-map in $button-variants {

    //     &--#{$variant-name} {
    //         @include button-variant($variant-map)
    //     }
    // }
         


    @each $size-name, $size-map in $button-size-map {
        @if($size-name != 'base'){
          &--#{$size-name}{
             //font-size: map-get(map-get($map: $button-size-map, $key: $size-name ), 'font-size')
             @include button-size-variant(map-get($button-size-map, $size-name))
          }
        }
    }

    @each $variant-name, $variant-map in $button-variants {
        @if $variant-name =='default' {
            @include button-variant($variant-map)
        } @else {
            &--#{$variant-name} {
                @include button-variant($variant-map)
            }
        }

   
    }

    &--icon-only {
        .fk-ucon{
            margin-right:0;
        }
    }
 
    .fk-btn-row & {
        ///TKTK add a token for related control spacing
        margin-right: $button-default-button-spacing;
    }



}

