.fk-keyvalue{

    text-align: center;
    font-size: $bp-size-type-md;
    color: $bp-color-neutral-95;
   

    &__label {
        //Extending now, TKTK review mixin use
        // @extend .fk-label;
        // @extend .fk-label--sm;
    }

    &__value {
        //Extending now, TKTK review mixin use
   
    }


    &--lg &__label {
       
        @include mq-until-md {
            //@extend .fk-label--sm;
            //TKTK replace with font size mixins/functions
            font-size: .8rem;
        }
    }
    &--lg &__value {
        font-size: 2rem;
        color: $bp-color-neutral-95; 

        @include mq-until-md {
            font-size: 1.5rem;
        }

    }


}