
.fk-quote, .quote {
  color:#666 !important; // TKTKTK REPLACE WITH TOKEN
  padding: 8px; // TKTKTK REPLACE WITH TOKEN
  border-left: 3px solid #ccc; // TKTKTK REPLACE WITH TOKEN
  padding-left: 16px; // TKTKTK REPLACE WITH TOKEN
}