---
order: 5
notes:  <span class="fk-tag fk-tag--md fk-tag--success">Sent to ADK </span><br />   when in the middle of a page group show first, last and one on either side
---

<nav aria-label="...">
    <ul class="fk-pagination">
<li class="fk-pagination__item">
        <a class="fk-pagination__link fk-pagination__link--previous" aria-label="Previous Link" href="#">
            <svg class="fk-ucon " aria-hidden="true" focusable="false"><use href="/assets/bp-ucons.svg#bp-arrow-left"></use></svg>
            Previous  
        </a>
        </li>       
         <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">1</a></li>
        <li class="fk-pagination__item">...</li>
        <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">6</a></li>
        <li class="fk-pagination__item is-active"><a class="fk-pagination__link" href="#">7</a></li>      
        <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">8</a></li>
        <li class="fk-pagination__item">...</li>
        <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">25</a></li>
        <li class="fk-pagination__item">
            <a class="fk-pagination__link fk-pagination__link--next" aria-label="Next Link" href="#">
                Next  
                <svg class="fk-ucon " aria-hidden="true" focusable="false"><use href="/assets/bp-ucons.svg#bp-arrow-right"></use></svg>
            </a>
        </li>
    </ul>
</nav>