---
order: 4
notes:  <span class="fk-tag fk-tag--md fk-tag--success">Sent to ADK </span><br />   When more than 7 pages show only first 3 links. and always show last
---

<nav aria-label="...">
    <ul class="fk-pagination">
        <li class="fk-pagination__item is-active"><a class="fk-pagination__link" href="#">1</a></li>
        <li class="fk-pagination__item "><a class="fk-pagination__link" href="#">2</a></li>
        <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">3</a></li>
        <li class="fk-pagination__item">...</li>
        <li class="fk-pagination__item"><a class="fk-pagination__link" href="#">25</a></li>
        <li class="fk-pagination__item">
            <a class="fk-pagination__link fk-pagination__link--next" aria-label="Next Link" href="#">
                Next  
                <svg class="fk-ucon " aria-hidden="true" focusable="false"><use href="/assets/bp-ucons.svg#bp-arrow-right"></use></svg>
            </a>
        </li>
    </ul>
</nav>