<ul class="o-list">
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
</ul>


<ul class="o-list o-list--divided">
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
</ul>


<ul class="o-list-bare">
    <li>List Item</li>
    <li>List Item</li>
        <ul>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
            <li>List Item</li>
        </ul>
    <li>List Item</li>
    <li>List Item</li>
</ul>


<ul class="o-list-inline">
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Items</li>
</ul>

<ul class="o-list-inline o-list-inline--divided">
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Item</li>
    <li class="o-list-inline__item">List Items</li>
</ul>