<!-- form input control -->
<div class="fk-form-group">
    <label class="fk-form-label" for="input-example-1">Name</label>
    <input class="fk-form-input" type="text" id="input-example-1" placeholder="Name">
</div>

<!-- form input control -->
<div class="fk-form-group">
    <label class="fk-form-label" for="input-example-1">Name</label>
    <input class="fk-form-input has-success" type="text" id="input-example-1" placeholder="Name">    
</div>


<div class="fk-form-group">
    <label class="fk-form-label" for="input-example-1">Name</label>
    <input class="fk-form-input " type="text" id="input-example-1" placeholder="Name">
    <div class="fk-form-hint has-error"><div class="fk-ucon fk-ucon--sm" data-src="feedback-warning"><svg class="fk-svg" viewBox="0 0 24 24" id="feedback-warning" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M13.009 13.987V8.934h-1.956v5.053h1.956zm0 4.016v-1.962h-1.956v1.962h1.956zM2.988 20.962L12.016 3l9.025 17.962H2.988z"></path></svg></div>Testing</div>
</div>
    





<div class="fk-form-item">
    <label class="fk-form-label" for="input-example-1">Username</label>
    <input class="fk-form-input u-width-20" type="text" id="input-example-1" placeholder="Name">
</div>


<div class="fk-form-item">
    <input type="checkbox" id="remember-1">
    <label class="" for="remember-1"></label>&nbsp; Remember me</label>
</div>



<div class="fk-form-group">
    <div class="fk-form-item">
        <input class="fk-form-radio" type="radio" name="gender">
        <label > Department</label>
    </div>

    <div class="fk-form-item">
        <input class="fk-form-radio" type="radio" name="gender">
        <label > Single Family</label>
    </div>

    <div class="fk-form-item">
        <input  class="fk-form-radio" type="radio" name="gender">
        <label> Multi-Family</label>
    </div>
</div>


<div class="fk-form-group fk-form-group--row ">
    <div class="fk-form-item">
        <input class="fk-form-radio" type="radio" name="gender">
        <label> Department</label>
    </div>

    <div class="fk-form-item">
        <input class="fk-form-radio" type="radio" name="gender">
        <label > Single Family</label>
    </div>

    <div class="fk-form-item">
        <input  class="fk-form-radio" type="radio" name="gender">
        <label> Multi-Family</label>
    </div>
</div>







<input  class="fk-form-radio" type="radio" name="gender"> Testing just plain text next

<br>
<h2>  <input  class="fk-form-checkbox" type="checkbox" name="gender">Testing just plain text next</h2>


<div style="width: 40%; background:grey;" class="u-space-inset-md">

       <input  class="fk-form-checkbox" type="checkbox" name="gender">Testing just plain text next
        
</div>


<div class="u-spacer--lg"></div>


<div class="fk-form-group fk-form-group--row fk-child-width-1of3">

    <div class="fk-form-item">
        <label class="fk-form-label" for="input-example-city">City</label>
        <input class="fk-form-input " type="text" id="input-example-city" placeholder="Name">
    </div>

    <div class="fk-form-item">
        <label class="fk-form-label" for="input-example-state">State</label>
        <input class="fk-form-input u-width-4" type="text" id="input-example-state" placeholder="Name">
    </div>

    <div class="fk-form-item">
        <label class="fk-form-label" for="input-example-zip">Zip</label>
        <input class="fk-form-input u-width-3" type="text" id="input-example-zip" placeholder="Name">
    </div>

</div>