---
order: 6
---


<div class="fk-form-group">
    <div class="fk-form-radio fk-form-inline">
        <input class="fk-form-radio" type="radio" name="gender">
        <label> Male </label>
    </div>
    <div class="fk-form-radio fk-form-inline">
        <input class="fk-form-radio" type="radio" name="gender">
        <label> Female </label>
    </div>
</div>

<div class="fk-form-group">
    <div class="fk-form-checkbox fk-form-inline">
        <input type="checkbox" name="area">
        <label> Single Family </label>
    </div>
    <div class="fk-form-checkbox fk-form-inline">
        <input type="checkbox" name="area">
        <label> Multi-Family </label>
    </div>
</div>