---
order: 4
---
<!-- form radio control -->
<div class="fk-form-group">
    <div class="fk-form-radio">
        <input class="fk-form-radio" type="radio" name="gender">
        <label > Department</label>
    </div>

    <div class="fk-form-radio">
        <input class="fk-form-radio" type="radio" name="gender">
        <label > Single Family</label>
    </div>

    <div class="fk-form-radio">
        <input  class="fk-form-radio" type="radio" name="gender">
        <label> Multi-Family</label>
    </div>
</div>