---
hideTitle: true
notes: <span class="fk-tag fk-tag--md fk-tag--info-alt">Experimental </span><br /> A simple container to divide your page into sections, like the one you're currently reading Build intricate nesting2-dimensional pinterest-like layouts
hidden: true
---




<style>
.is-primary{
    background-color: blue;
}

.is-warning{
    background-color: red;
}

.is-info {
    background-color: teal;
}

.is-success {
    background-color: green;
}

.is-8 {
    flex: none;
    width: 67%;
}

.image.is-4by3 img{
height: 200%;
width: 100%;

}

.image{
    display: block;
    position: relative;
}

</style>



<div class="fk-tile  fk-tile--ancestor">
    <div class="fk-tile fk-tile--vertical is-8">
        <div class="fk-tile">
        <div class="fk-tile fk-tile__parent fk-tile--vertical">
            <article class="fk-tile fk-tile__child notification is-primary">
            <p class="title">Vertical...</p>
            <p class="subtitle">Top tile</p>
            </article>
            <article class="fk-tile fk-tile__child notification is-warning">
            <p class="title">...tiles</p>
            <p class="subtitle">Bottom tile</p>
            </article>
        </div>
        <div class="fk-tile fk-tile__parent">
            <article class="fk-tile fk-tile__child notification is-info">
            <p class="title">Middle tile</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
            </article>
        </div>
        </div>
        <div class="fk-tile fk-tile__parent">
        <article class="fk-tile fk-tile__child notification is-danger">
            <p class="title">Wide tile</p>
            <p class="subtitle">Aligned with the right tile</p>
            <div class="content">
            <!-- Content -->
            </div>
        </article>
        </div>
    </div>
    <div class="fk-tile fk-tile__parent">
        <article class="fk-tile fk-tile__child notification is-success">
        <div class="content">
            <p class="title">Tall tile</p>
            <p class="subtitle">With even more content</p>
            <div class="content">
            <!-- Content -->
            </div>
        </div>
        </article>
    </div>
</div>




