/**
 * Consistent indentation for lists.
 */


ul {
    list-style: disc outside;

    li:not(:last-child) {
        line-height: 1.25;
        margin-bottom: 8px;
    }

    ul {
        list-style-type: circle;
        ul{
            list-style-type: square;
        }
    }
}

ol {
    list-style: inherit outside;
    ol {
        list-style-type: lower-alpha;

    }
}


dl{
    dt {
        font-weight: 600;
    }
}