/* ==========================================================================
   #PAGE
   ========================================================================== */

   

html {
  @include font-size($bp-size-type-md);
  font-family: "Source Sans Pro", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}


body {
  color: neutral-color('80');
  // @include font-size($bp-size-type-md); 
}


figcaption {
  color: $bp-color-neutral-50;
  font-style: italic;
  padding: $bp-space-spacing-xs;
  
}