
$control-default-padding: #{$bp-module-scale-down-6}em #{$bp-module-scale-down-2}em !default;
$control-default-height: #{$bp-module-scale-up-6}em !default;
$control-default-border-radius: $bp-size-border-radius-md !default;
$control-default-border-width: $bp-size-border-width-thin !default;
$control-default-font-size: $bp-size-type-md !default;
 
%control {
    appearance: none;
    align-items: center;
    border: $control-default-border-width solid transparent;
    border-radius: $control-default-border-radius;
    box-shadow: none;
    
    //display: inline-flex;
    // trying to test to fix for text not centering
    display: inline-block;
    font-size: $control-default-font-size;
    line-height: 1em;
   // height: $control-default-height;
    justify-content: flex-start;
    padding: $control-default-padding;
    position: relative;
    vertical-align: top;

  
    //States
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      outline: none;
    }

    &.is-disabled,
    &:disabled,
    &[disabled] {
      cursor: not-allowed;
    }

    &:not(:disabled):not(.is-disabled) {
      cursor: pointer;
    }
    
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
    
    
    
}


@mixin control {
    @extend %control;
}



