$c : 'size';
$t : 'border';
$i : null;

/// Returns css for specific border presets. TODO: To be built
@mixin border(){

}
 
//returns a value for a border name
@function border-width($key){ 
    $q: dot-str($c, $t, 'width');
    $map: map($q);

    @if  map-has-key($map, $key) {
     @return map-get($map, $key);
    }

    @warn error-maps('border-width()',$map, $key);
    @return '';
}

@function border-radius($key){
    $q: dot-str($c, $t, 'radius');
    $map: map($q);

    @if  map-has-key($map, $key) {
     @return map-get($map, $key);
    }

    @warn error-maps('border-radius()',$map, $key);
    @return '';
}


@function border-color($key){
    $c: 'color';

    $q: dot-str($c, $t);
    $map: map($q);

    @if  map-has-key($map, $key) {
     @return map-get($map, $key);
    }

    @warn error-maps('border-radius()',$map, $key);
    @return '';
}