
// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
    padding-left: 0;
    list-style: none;
}
// temp usage.. move to utilities //tktk
.u-list-unstyled {
    @include list-unstyled();
}

@mixin list-inline {
    @include list-unstyled();
    margin-left: 0; //tktk

    > li {
        display: inline-block;
        padding-left:0; //tktk
        padding-right:0; //tktk
        &:not(:last-child){
            margin-right: $bp-space-spacing-sm;
        }

    }
}
// temp usage.. move to utilities //tktk
.u-list-inline {
    @include list-inline;
}

@mixin list-comma {
    @include list-unstyled();
    li {
        display: inline;

        &:after {
            content: ", ";
        }

        &:last-child:after {
            content: "";
        }
    }
}

@mixin list-divided {


}



