@mixin shelf() {

    $parent: &;
    $ns-child-left: 'left' !default;
    $ns-child-right: 'right' !default;
    $ns-child-item: 'item' !default;

    //tktk add ability to overide naming

    display:flex;
    align-items: center;
    justify-content: space-between;

    @include mq-until-sm {
        display: block;
    }

    & > &__#{$ns-child-item} {
        flex-grow: 1;
    }
    
    &__#{$ns-child-item} {
        align-items: center;
        display: flex;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        // background: red;
        // border:1px solid yellow;
    }
    
    &__#{$ns-child-left},
    &__#{$ns-child-right} {
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;

        @include mq-until-sm {
            display: block;
        }
    }

    &__#{$ns-child-left} &__#{$ns-child-item},
    &__#{$ns-child-right} &__#{$ns-child-item} {
        flex-grow: 1;
        
        @include mq-from-sm {
            &:not(:last-child) {
                margin-right: $bp-space-spacing-sm; 
            }
        }
    }


    &__#{$ns-child-left} {
        align-items: center;
        justify-content: flex-start;

        // When it goes mobile, make sure the right section get some spacing
        // using $parent, may not be needed but quick fix to get to parent of parent. tktk fine tune
        @include mq-until-sm {
            & + #{$parent}__#{$ns-child-right} {
                margin-top: $fk-global-spacing-unit;
            }
        }
    }

    &__#{$ns-child-right} {
        align-items: center;
        justify-content: flex-end;
    }
}

.fk-shelf__item:hover .fk-shelf {
    background-color: red;
}

