@mixin clearfix {
    &::after {
        clear: both;
        content: " ";
        display: table;
    }
}

%overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }


///Makes the element overlay its parent container, like the transparent modal background.
@mixin overlay($offset:0) {
    @extend %overlay;

    @if $offset != 0 {
        bottom: $offset;
        left: $offset;
        right: $offset;
        top: $offset;
      }
}


%unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  @mixin unselectable {
    @extend %unselectable;
  }
  