$tooltip-font-size:                 $bp-size-type-sm;
$tooltip-max-width:                 200px;
$tooltip-color:                     $bp-color-neutral-00;
$tooltip-bg:                        $bp-color-neutral-95;
$tooltip-border-radius:             $bp-size-border-radius-md;
$tooltip-opacity:                   .9;
$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;
$tooltip-arrow-color:               $tooltip-bg;
$tooltip-margin:                    0;
$tooltip-padding:                   $bp-space-inset-md;
$tooltip-radius:                    $bp-size-border-radius-md;

// Base class
.fk-tooltip {
  position: absolute;
  z-index: $bp-web-z-index-low;
  display: block;
  margin: $tooltip-margin;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  //@include reset-text();
  font-size: $tooltip-font-size;
  // Allow breaking very long words so they don't overflow the tooltip's bounds
  word-wrap: break-word;
  opacity: 0;
  // Should tooltip have focus?
  // &:focus {
    
  // }

  &.fk-tooltip-show, .is-visible { opacity: $tooltip-opacity; }

  .fk-tooltip__arrow {
    position: absolute;
    display: block;
    width: $tooltip-arrow-width;
    height: $tooltip-arrow-height;

    &::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.fk-tooltip--top {
  padding: $tooltip-arrow-height 0;

  .fk-tooltip__arrow {
    bottom: 0;

    &::before {
      top: 0;
      border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
      border-top-color: $tooltip-arrow-color;
    }
  }
}

.fk-tooltip--right {
  padding: 0 $tooltip-arrow-height;

  .fk-tooltip__arrow {
    left: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      right: 0;
      border-width: ($tooltip-arrow-width / 2) $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
      border-right-color: $tooltip-arrow-color;
    }
  }
}

.fk-tooltip--bottom {
  padding: $tooltip-arrow-height 0;

  .fk-tooltip__arrow {
    top: 0;

    &::before {
      bottom: 0;
      border-width: 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-bottom-color: $tooltip-arrow-color;
    }
  }
}

.fk-tooltip--left {
  padding: 0 $tooltip-arrow-height;

  .fk-tooltip__arrow {
    right: 0;
    width: $tooltip-arrow-height;
    height: $tooltip-arrow-width;

    &::before {
      left: 0;
      border-width: ($tooltip-arrow-width / 2) 0 ($tooltip-arrow-width / 2) $tooltip-arrow-height;
      border-left-color: $tooltip-arrow-color;
    }
  }
}

.fk-tooltip-auto {
  &[x-placement^="top"] {
    @extend .fk-tooltip--top;
  }
  &[x-placement^="right"] {
    @extend .fk-tooltip--right;
  }
  &[x-placement^="bottom"] {
    @extend .fk-tooltip--bottom;
  }
  &[x-placement^="left"] {
    @extend .fk-tooltip--left;
  }
}

// Wrapper for the tooltip content
.fk-tooltip__inner {
  max-width: $tooltip-max-width;
  padding: $tooltip-padding;
  color: $tooltip-color;
  text-align: center;
  background-color: $tooltip-bg;
  border-radius: $tooltip-radius;
}
