---
notes: These classes get all their respective styling.  This allows you to also force styling on mis-match tags.  Ex Give a h3 a h1 look. 
---

<p class="fk-display-2">Display 2</p>
<p class="fk-display-1">Display 1</p>

<p class="fk-h1">Header 1</p>
<p class="fk-h2">Header 2</p>
<p class="fk-h3">Header 3</p>
<p class="fk-h4">Header 4</p>
<p class="fk-h5">Header 5</p>
<p class="fk-h6">Header 6</p>

<p class="fk-body--sm">{{data "samples.paragraph"}}</p>
<p class="fk-body">{{data "samples.paragraph"}}</p>
<p class="fk-body--lg">{{data "samples.paragraph"}}</p>

