.fk-link {
    // nothing really needed. handled by default element style


    &--secondary {
        color: neutral-color('60');
    }


    // TKTK future updates.  
    // - Probaly should inherit color. Wait til header classes are complete
    // - 

    &--title {
        font-weight: 600;
        color: neutral-color('80');

    }



    // TKTK future updates.  
    // - Apply to a article close automatically.
    // - 
    &--article {
        border-bottom: 2px solid $bp-color-muted-blue-10;

        &:hover {
            border-color: feedback-color('interaction');
            text-decoration: none;
        }
    }



}
