<!doctype html>
<html class="no-js" lang="en_us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Social Tabs</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="stylesheet" href="/assets/css/vendor/framekit.css">
  <link rel="stylesheet" href="/tabs/tabs.css"> -->
  <style>
    .fk-tabs__container {
  width: 100%;
  padding: 0;
}
.fk-tabs__container .fk-tabs__content {
  display: none;
  padding: 20px;
  background: #fff;
  border-top: 1px solid transparent;
  box-shadow: 0 1px 1px #adadad, 0 1px 1px #adadad;
}
.fk-tabs__container .fk-tabs__content.is-active {
  display: block;
}
.fk-tabs__container .fk-tabs__label {
  display: inline-block;
  padding: 1rem 1.5625rem;
  margin: 0 0 -1px;
  font-weight: 400;
  color: #0962ba;
  text-align: center;
  background: #f8f8f8;
  border-top: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #dedede;
}
.fk-tabs__container .fk-tabs__label:hover {
  color: #0962ba;
  cursor: pointer;
  background: #eee;
}
.fk-tabs__container .fk-tabs__label.is-active {
  font-weight: 700;
  color: #121212;
  background: #fff;
  border: 1px solid #fff;
}

  </style>
  
</head>

<body>
  
  <h1>Tabs Component</h1>
  <p><a href="/tabs/index.html">Tabs</a></p>
  
   <br/><br/>
   <div class="fk-tabs">
   <div class="fk-tabs__container">
      
      <label id="tab1" data-target="content1" class="fk-tabs__label is-active">Fannie Mae 1</label>
    
      <label id="tab2" data-target="content2" class="fk-tabs__label">Houses</label>
    
      <label id="tab3" data-target="content3" class="fk-tabs__label">Financial</label>
    
      <label id="tab4" data-target="content4" class="fk-tabs__label">Investment</label>
    
      <section class="fk-tabs__content is-active" id="content1">
        <h2>Fannie Mae</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
      </section>
    
      <section class="fk-tabs__content" id="content2">
        <h2>Houses</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
      </section>
    
      <section class="fk-tabs__content" id="content3">
        <h2>Financial</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
      </section>
    
      <section class="fk-tabs__content" id="content4">
        <h2>Investment</h2>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur
        </p>
      </section>
    </div>
  </div>
  
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $('[id^=tab]').click(function () {
      var target = $(this).attr('data-target')
      if ($(this).hasClass('is-active')) {
        return
      } else {
        $('.fk-tabs__label,.fk-tabs__content').removeClass('is-active')
        $(this).addClass('is-active')
        $(`#${target}`).addClass('is-active')
      }
    })
  })
  
</script>
 
</body>

</html>
