

//$form-control-border-radius: $fk-global-radius;
$form-control-border-radius: 4px;
$form-input-padding: $bp-space-inset-sm;
$form-input-border-width: $bp-size-border-width-thin;
$form-input-border-style: 'solid';
$form-input-margin: $bp-space-stack-xs;

$form-input-color: neutral-color('80');
$form-input-background: $bp-color-neutral-00;
$form-input-border-color:  $bp-color-neutral-20;
$form-input-shadow: none;

//fkfk text mixin
$form-input-label-font-size: $bp-size-type-sm;
$form-input-label-font-weight: bold;
$form-input-label-margin: $bp-space-stack-sm;
$form-input-label-line-height: $fk-global-baseline;

$form-input-hover-color: $bp-color-neutral-90;
$form-input-hover-background: $bp-color-neutral-10;
$form-input-hover-border-color: $bp-color-neutral-40;
$form-input-hover-shadow: none;

$form-input-disabled-color: $bp-color-neutral-20;
$form-input-disabled-background: $bp-color-neutral-10;
$form-input-disabled-border-color: $bp-color-neutral-40;
$form-input-disabled-shadow: none; 

$form-input-placeholder-color: $bp-color-neutral-60;

$form-item-help-color: $bp-color-neutral-40;
$form-item-help-font-size: $bp-size-type-sm;

$form-input-feedback-success-color: $bp-color-feedback-success-base;
$form-input-feedback-error-color: $bp-color-feedback-danger-base;

//tktk should be a text mixin
$form-section-font-weight: bold;
$form-section-font-size: $bp-size-type-lg;

