// Forms
.fk-form-group {

  &:not(:last-child) {
    margin-bottom: $bp-space-spacing-md;
  }


}
//======================================================

.fk-form-item {
   margin-bottom: #{$fk-global-baseline}rem;
   //background: red;
}

.fk-form-group{
  .fk-form-item {
    margin-bottom: 0;
  }

 &--row {
  .fk-form-item {
   display: inline-block;
   margin-right: 16px;

    .fk-form-radio {
      margin-right:4px;

      & + label {
        margin-right:8px;
      }
    }

  }
 }


}

//======================================================
// Form element: Label
.fk-form-label {
  @include text-crop();
  display: block;
  @include font-size($form-input-label-font-size);
  // line-height: $form-input-label-line-height;
  margin: $form-input-label-margin;

  &---sm {
    @include font-size('sm');
    //padding: $control-padding-y-sm + $border-width 0;
  }

  &--lg {
    @include  font-size('lg');
    //padding: $control-padding-y-lg + $border-width 0;
  }
}



.fk-form-input {
  @include input;
  max-width: 100%;
  width: 100%;



  &:not(:last-child){
    margin: $bp-space-stack-sm;
  }

  &--sm {

  }

  &--lg {

  }


  &--inline{
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }


  // Input types
  &[type="file"] {
    height: auto;
  }

}


// Form element: Input hint
.fk-form-hint {
  color: $form-item-help-color;
  font-size: $form-item-help-font-size;
  height: 24px;



  &.has-success,
  &.is-success{
    color: $bp-color-feedback-success-base;
  }

  &.has-error,
  &.is-error {
    color: $bp-color-feedback-danger-base;
  }
}


.fk-form-select {
  @include input;

  &:not([multiple]):not([size]) {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right .35rem center/.4rem .5rem;

  }
}


// Form element: Checkbox and Radio
.fk-form-checkbox,
.fk-form-radio,
.fk-form-switch {

  
  line-height: $fk-global-baseline;
  min-height: 1.2rem;
  margin-right: $bp-space-spacing-md;
  position: relative;


  &.fk-form-inline {
    display: inline-block;
  }


  input {
    margin-right: $bp-space-spacing-sm;

    //custom
    // clip: rect(0, 0, 0, 0);
    // height: 1px;
    // margin: -1px;
    // overflow: hidden;
    // position: absolute;
    // width: 1px;
    &:focus + .fk-form-icon {
     // @include control-shadow();
     // border-color: $primary-color;
    }
    &:checked + .fk-form-icon {
      //background: $primary-color;
      //border-color: $primary-color;
    }
  }


  // Input checkbox, radio and switch sizes
  &.input-sm {
    //font-size: $font-size-sm;
    margin: 0;
  }

  &.input-lg {
    //font-size: $font-size-lg;
   // margin: ($control-size-lg - $control-size-sm) / 2 0;
  }
}
