.fk-footer {
    display: block;
    width: 100%;
    background-color: $bp-color-neutral-10;
    padding: $bp-space-spacing-lg; //temp use, inset function returns padding instead of just value
    //text-align: center;
    color: $bp-color-neutral-60;
    //background color is defined by a background utility class

}