
  @mixin toggle-designer (
    $toggle-width: 64px,
    $toggle-color-switch:  $bp-color-neutral-00,
    $toggle-background-OFF: neutral-color('80'),
    $toggle-background-ON: $bp-color-feedback-success-base,
    $toggle-color-left-unchecked: $bp-color-neutral-00,
    $toggle-color-left-checked: $bp-color-neutral-00,
    $toggle-color-right-unchecked: $bp-color-neutral-00,
    $toggle-color-right-checked: $bp-color-neutral-00
    )

  {
    
    display: inline-block;
    vertical-align: middle;
      
    .fk-toggle__input {
      &:focus ~ label {
        .fk-toggle-switch::after { 
          box-shadow: 
            inset 0 0 0 1px $toggle-color-switch, 
            inset 0 0 0 3px $toggle-background-OFF,
            0 3px 6px rgba(black, 0.3); 
        }
      }
      &:checked ~ label {
        .fk-toggle-switch {
          background: $toggle-background-ON;
          border-color: $toggle-background-ON;
        }
        .fk-toggle-option--LEFT {
          color: $toggle-color-left-checked;
          .fk-toggle__svg > * { 
            fill: $toggle-color-left-checked;
          }
        }
        .fk-toggle-option--RIGHT {
          color: $toggle-color-right-checked;
          .fk-toggle__svg > * { 
            fill: $toggle-color-right-checked; 
          }
        }
      }
      &:checked {
        &:focus ~ label {
          .fk-toggle-switch::after { 
            box-shadow: 
              inset 0 0 0 1px $toggle-color-switch, 
              inset 0 0 0 3px $toggle-background-ON, 
              0 3px 6px rgba(black, 0.3);
          }
        }  
      } 
    }
  
    .fk-toggle-switch {
      width: $toggle-width;
      height: $toggle-width/2;
      background: $toggle-background-OFF;
      border: 2px solid $toggle-background-OFF;
      border-radius: ($toggle-width/4) + 2;
      .ic-Form-group.ic-Form-group--horizontal & {
        flex: 0 0 $toggle-width;
      }
      &:after {
        background-color: $toggle-color-switch;
        width: $toggle-width/2; 
        height: $toggle-width/2;
      }
    }
  
    .fk-toggle-option--LEFT {
      color: $toggle-color-left-unchecked;
      .fk-toggle__svg > * { fill: $toggle-color-left-unchecked; }
    }
  
    .fk-toggle-option--RIGHT {
      color: $toggle-color-right-unchecked;
      .fk-toggle__svg > * { fill: $toggle-color-right-unchecked; }
    }
  
    .fk-toggle__svg {
      max-width: $toggle-width/4;
      max-height: $toggle-width/4;
    }  
  }
  
  .fk-toggle__label {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    .fk-form-group.fk-form-group--horizontal & { 
      display: inline-flex;
      align-items: center;
    }
  }
  
  .fk-toggle__input {
    opacity: 0;
    position: absolute;
    top: 0; 
    left: 0;
    &:checked {
      ~ label {
        .fk-toggle-switch {
          &:after { transform: translate3d(100%,0,0); }
        }
        .fk-toggle__disabled-msg {
          &:before { content: attr(data-checked); }
        }
      }
    }
    &[disabled] {
      ~ label {
        .fk-toggle__disabled-msg { display: block; }
        .fk-toggle-switch,
        [class^="fk-toggle-option-"] { display: none; }  
      }  
    }
  }
  
  .fk-toggle-switch {
    transition: background 0.1s, border-color 0.1s;
    display: inline-block;
    position: relative;
    line-height: 1;
    display: flex;
    align-items: center;
    background-clip: padding-box;
    &::after {
      transition: all 0.1s ease-in-out;
      content: "";
      position: absolute;
     // top: -2px;  // TKTK HACK TO WORK WITH FRAMEKIT //appears fixed commenting out cg
      //left: -2px; // TKTK HACK TO WORK WITH FRAMEKIT  //appears fixed commenting out cg
      transform: translate3d(0,0,0);
      border-radius: 100%;
      box-shadow: 0 3px 6px rgba(black, 0.3);
      // TKTK REMOVING BUT KEEPING FOR LATER
      // background-image: url("https://cl.ly/320m31452k2X/handle.svg");
      // background-position: 50% 50%;
      // background-repeat: no-repeat;
      // background-size: 20px;
    }
  }
  
  .fk-toggle__disabled-msg {
    display: none;
    &:before { 
      content: attr(data-unchecked);
      font-style: italic;
      opacity: 0.8;
    }
  }
  
  [class^="fk-toggle-option-"] {
    transition: opacity 0.2s, transform 0.2s;
    flex: 0 0 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    speak: none;
    box-sizing: border-box;
  }
  
  // Screenreader class from HTML5 Boilerplate's .visuallyhidden
  .fk-toggle__screenreader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; 
  }
  
  
  .fk-toggle--on-off {
    @include toggle-designer;
    [class^="fk-toggle-option-"] { transition-delay: 0.1s; }
    .fk-toggle-option--LEFT {
      opacity: 0;
    }
    .fk-toggle-option--RIGHT {
      opacity: 1;
    }
    .fk-toggle__input:checked ~ label {
      .fk-toggle-option--LEFT {
        opacity: 1;
      }
      .fk-toggle-option--RIGHT {
        opacity: 0;
      }
    }
  
  }
  
  .fk-toggle--ui-switch {

    @include toggle-designer(
      64px, // width
      white, // switch bg color
      #333, // background color when checkbox is unchecked
      #333, // background color when checkbox is checked
      #da062a, // left checked
      #253138, // left unchecked
      #253138, // right unchecked
      #00ac19 // right checked
    );

    .fk-toggle__label {
      display: inline-flex;
      align-items: center;
    }
    .fk-toggle-switch {
      display: block;
    }
    [class^="fk-toggle-option-"] {
      flex: none;
      min-width: 24px;
    }
    .fk-toggle-option-LEFT {
      text-align: left;
      transform: scale(1.1);
    }
    .fk-toggle-option-RIGHT {
      text-align: right;
      transform: scale(0.9);
    }
    .fk-toggle__input:checked ~ label {
      .fk-toggle-option-LEFT {
        transform: scale(0.9);
      }
      .fk-toggle-option-RIGHT {
        transform: scale(1.1);
      }
    }
  }

  