---
name: Pocketdoor
order: 1
hideTitle: true
notes:  <span class="fk-tag fk-tag--md fk-tag--info-alt">Work In Progress</span>
hidden: false
specs: http://linktodesignspecs.com
links:
    http://example.com
labels:
- inprogress
---

<!-- .fk-doorframe-pocketdoor-open>.fk-doorframe-pocketdoor-door { -->


<div class="fk-doorframe-pocketdoor-door-content">
  
      <!-- The whole page content goes here -->
  
      <button class="fk-btn" type="button" fk-toggle="target: #fk-pocketdoor-usage">Open</button>
  
      <a href="#fk-pocketdoor-usage" fk-toggle>Open</a>
  
      <div id="fk-pocketdoor-usage" fk-pocketdoor>
          <div class="fk-doorframe-pocketdoor-door ">
  
              <!-- <button class="fk-pocketdoor-open" type="button" fk-pocketdoor-close> close button</button> -->
  
              <h3>Title</h3>
  
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  
          </div>
      </div>
  
  </div>