---
hideTitle: true
notes: <span class="fk-tag fk-tag--md fk-tag--info-alt">Work In Progress</span>
---
    
    <div class="fk-datagrid">
   
        <div class="fk-keyvalue">
            <div class="fk-keyvalue__label">Reports</div>
            <div class="fk-keyvalue__value">13,121</div>  
        </div>


        <div class="fk-keyvalue">
            <div class="fk-keyvalue__label">Execution Type</div>
            <div class="fk-keyvalue__value">MBS</div>  
        </div>

        <div class="fk-keyvalue">
            <div class="fk-keyvalue__label">Annual Adjustment</div>
            <div class="fk-keyvalue__value">0.00123%</div>  
        </div>


        <div class="fk-keyvalue">
            <div class="fk-keyvalue__label">Status</div>
            <div class="fk-keyvalue__value">Ready</div>  
        </div>

    </div>
