#fk-header {
  /* grid-template-columns: 3fr 2fr 10%; */
  background: #02405E;
  color: #ffffff;
  padding: 16px;
  margin-bottom: 0;
  a {
      color: #FFF;
      text-decoration: none;
      margin-right: 16px;
      font-size: 18px;
      &:hover {
          color: #ccc;
      }
  }
}
