<!DOCTYPE html>
<html class="{{htmlclass}}">
  <head>
    {{#block "head"}}
    {{/block}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  </head>
  <body class="{{bodyclass}}">
    <!--[if lte IE 10]>
       <div style="display:block; background-color: #BD2B2B; color:#fff; padding:24px; text-align:center"> 
         <div style="width:60%; position: relative; text-align:center;"> IE < 10 is not supported at all in Framekit, let alone the Dev Previewer. Upgrade or change your render engine. Oh and IE11 no longer supports conditionals so if your seeing this, even though you may be using IE11ddd, its probaly using a lower rendering engine.  Probaly due to intranet triggering compatability mode.  So, yay IE.  </div>
        </div>
    <![endif]-->

    {{#block "body"}}
      {{#block "main"}}
      {{/block}}
    {{/block}}

    {{#block "foot"}}
    {{/block}}
    
    {{#block "js"}}
    {{/block}}

  </body>
</html>
