{{!-- Template for each collection item --}}
{{#extend "default"}}
  {{#content "main"}}
   <h1>{{name}}
     <small> {{subtitle}}</small>
   </h1>

   <p class="fk-lead">{{notes}}</p>
    {{#each patterns}}
      {{> includes.item}}
    {{/each}}
  {{/content}}
{{/extend}}
