$section-padding: 3rem 1.5rem !default;
$section-padding-medium: 9rem 1.5rem !default;
$section-padding-large: 18rem 1.5rem !default;

.fk-section {
  //padding: $section-padding;

  // Responsiveness
  // @include desktop {
  //   // Sizes
  //   &.fk-section--medium {
  //     //padding: $section-padding-medium;
  //     background-color:red;
  //   }

  //   &.fk-section--large {
  //    // padding: $section-padding-large;
  //     background-color:yellow;
      
  //   }
  // }
}