/* Continue to edit */

/* tktktk Matthew figure out where to use subgrid */

.l-grid-gap-m {
    grid-gap: 16px; //REPLACE WITH TOKEN
  }
  
  
  
  .l-grid-auto {
    display: grid;
    grid-template-columns: auto;
  }
  
  .l-grid-auto-1fr {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  
  .l-grid-1fr-auto {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .l-grid-fill-80 {
    display: grid;
    grid-template-columns: 1fr 80%;
  }
  
  .l-grid-fill-70 {
    display: grid;
    grid-template-columns: 1fr 70%;
  }
  
  .l-grid-90-fill {
    display: grid;
    grid-template-columns: 90% 1fr;
  }
  
  .l-grid-80-fill {
    display: grid;
    grid-template-columns: 80% 1fr;
  }
  .l-grid-70-fill {
    display: grid;
    grid-template-columns: 70% 1fr;
  }
  
  .l-grid-fill-70-fill {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
  }
  
  .l-grid-fill-60-fill {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
  }
  
  .l-grid-fill-fill-60 {
    display: grid;
    grid-template-columns: 1fr 1fr 60%;
  }
  /* problematic */
  /* .l-grid-20-20-60 {
    grid-template-columns: 20% 20% 60%;
  } */
  
  .l-grid-60-fill-fill {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
  }
  
  .l-grid-1col {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .l-grid-2col,
  .l-grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .l-grid-3col,
  .l-grid-30-40-30 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .l-grid-4col {
    display: grid;
    grid-template-columns: 1fr 1fr
  }
  
  .l-grid-5col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .l-grid-6col {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    /* grid-template-columns: auto auto auto auto auto auto; */
  }
  
  .l-grid-12col {
    display: grid;
    content: "You're using 12 columns...you've done something wrong";
    background-color: red;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  //
  @media only screen and (min-width: 300px) { 
    .l-grid-6col {
      display: grid;
      grid-template-columns: 1fr;
    }
    .l-grid-2col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-3col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-4col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-5col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-6col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-12col {
      display: grid;
      grid-template-columns: 1fr;
      background-color: red;
    }
  }
  
  @media only screen and (min-width: 768px) {
  
    .l-grid-80-fill {
      display: grid;
      grid-template-columns: 80% 1fr;
    }
  
    .l-grid-2col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .l-grid-3col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .l-grid-4col {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .l-grid-5col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .l-grid-6col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .l-grid-12col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: red;
    }
  }
  @media only screen and (min-width: 1240px) {
  
    .l-grid-80-fill {
      display: grid;
      grid-template-columns: 80% 1fr;
    }
  
    .l-grid-2col {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    .l-grid-3col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  
    .l-grid-4col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .l-grid-5col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  
    .l-grid-6col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
   
    .l-grid-12col {
      display: grid;
      content: "You're using 12 columns...you've done something wrong";
      background-color: red;    
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
  // .maingrid {
  //   /* display: grid; */
  //   height: 100vh;
  //   /* grid-template-rows: fill 80% fill; */
  // }
  
  // .leftnav {
  //   height: 100vh;
  //   background-color: #2c2c2c; /* Remove soon */
  //   color: #ffffff;
  // }
  // .middlebar {
  //   height: 100vh;
  //   background-color: #585858; /* Remove soon */
  // }
  // .maincontent {
  //   height: 100vh;
  //   background-color: #b4b4b4; /* Remove soon */
  //   color: #ffffff;            /* Remove soon */
  // }
  // .topbar {
  //   background-color: #1a1a1a; /* Remove soon */
  // }
  // .footer {
  //   background-color: #1a1a1a; /* Remove soon */
  // }
  
  
  
  //EXTRAS!
  
  /* layouts */
  
  /* 1a is a sidebar based layout */
  
    .fk-layout-1a {
      grid-template-columns: 20% 1fr;    
    }
    .fk-layout-1a aside {
      background: #001F38; //Temporary
      align-content: top;
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1 / span 4;
      grid-row: 1 / span 4;
      padding: 5px 10px; //Temporary
      position: sticky;  //Temporary
      top: 0;            //Temporary ?
      height: 100vh;     //Temporary
      grid-row-gap: 20px;//Temporary
    }
    .fk-layout-1a main {
      height: 100vh;     //Temporary
      overflow-y: scroll;//Temporary
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 3;
      grid-row: 3; 
      padding: 20px;    //Temporary
      background-color: #F2F2F4; //Temporary
    }
    .fk-layout-1a footer {
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 4;
      grid-row: 4;
    }
  
  /* 2a is a top header, sidebar, content sidebar
  
    .fk-layout-2a {
    
    }
  
    */
  
  
      .fk-box-shadow {
        -webkit-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);  /* REPLACE WITH TOKEN */
        -moz-box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);     /* REPLACE WITH TOKEN */
        box-shadow: 3px 6px 14px 0px rgba(0,0,0,0.75);          /* REPLACE WITH TOKEN */
      }
  
      .sticky {  /* REPLACE WITH UTILITY ???*/
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0px;
        z-index: 1000;
      }
  
      .fk-section-gray {
        background-color: #f1f1ef;    /* REPLACE WITH UTILITY */
      }
  
      .fk-vh-100 {  /* REPLACE WITH UTILITY ???*/
        height: 100vh;
      }
      .fk-vh-75 {  /* REPLACE WITH UTILITY ???*/
        height: 75vh;
      }
  
      .fk-p-20 {  /* REPLACE WITH UTILITY ???*/
        padding: 20px;
      }
  
  
      .fk-width-100 {
        width: 100%;
        /* padding: 20px; */
      }
  
  
      /*<nav class="leftnav">
              <br />
              <p>Ok. so on this bar, we need a media query and do min-width instead of fill</p> 
          </nav>
          <div class="middlebar">
              <br />
              <p>Ok. so on this bar, we need a media query and do min-width instead of fill</p> 
          </div>
          <div class="maincontent">
              Dummy content
          </div>
  
      */
  
  
  
      