$page-padding: 64px;

.fk-container {
    margin: 0 auto;
    position: relative;
    width: 80%;


    @include mq-xs {
        margin-left: 16px;
        margin-right: 16px;
      }
  
      @include mq-sm {
        margin-left: 32px;
        margin-right: 32px;
      }
  
      @include mq-md {
        max-width: get-breakpoint('md') - ($page-padding * 2);
        // background: blue;
      }
  
      @include mq-lg {
        max-width: get-breakpoint('lg')-($page-padding * 2);
      }
  
      @include mq-xl {
        max-width: get-breakpoint('xl')-($page-padding * 2);
      }
}