
$list-ns:  $fk-ns-objects;
$list-ml: 0px;
$list-inline-item-spacer: $bp-space-spacing-sm;

 
.#{$list-ns}list {
    &--divided>li+li:before{
        background: red;
        border-top: 2px solid #000;
        margin-right: $list-inline-item-spacer;
    }
}

.#{$list-ns}list-bare{
    list-style: none;
    margin-left: $list-ml;

    &__item {
        margin-left: $list-ml; 
    }
}


/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

 .#{$list-ns}list-inline {
    margin-left: $list-ml;
    list-style: none;

    &__item {
        display: inline-block;
    
        &:not(:last-child){
         margin-right: $list-inline-item-spacer;
        }
    }

    &--divided>li+li:before{
        content: "|";
        margin-right: $list-inline-item-spacer;
    }
}