---
order: 3
snippetPadding: 1rem
---
<i class="fk-ucon" data-src="edit"></i> Edit Icon (pencil)
<br>
<i class="fk-ucon" data-src="lock"></i> Lock Icon


    <h5>Icons stacked next to each other with mobile hit targets</h5>
    <i class="fk-ucon" data-src="feedback-warning"></i>
    <i class="fk-ucon" data-src="feedback-warning"></i>
    <i class="fk-ucon" data-src="feedback-warning"></i>

    <br>

    <h5>Icon inside a header</h5>
    <h3> Providing financing for quality rental housing in every market <i class="fk-icon" data-src="open-in-new"></i></h3>

    <br>

    <i class="fk-ucon" data-src="book"></i>
    Next to text, in no component or style

    <p>
        <i class="fk-ucon" data-src="feedback-warning"></i>
        Icon and text inside a paragraph tag. Better incididunt familes quality homes familes meeting housing challenges, sed elit sed amet better dib. Quality tempor meeting housing challenges, Fannie Mae ac incididunt financing mortgages. Sed financing lorem mortgages homes et refinance elit dreams, financing simplify quality refinance
     </p>
        <br><br>

        <button class="fk-btn">
            <i class="fk-ucon" data-src="feedback-warning"></i> Test
        </button>


        <br><br>

        <button class="fk-btn fk-btn--primary fk-btn--sm">
            <i class="fk-ucon fk-ucon--sm" data-src="plus"></i> Test
        </button>


        <button class="fk-btn fk-btn--primary" data-icon="plus">
            <i class="fk-ucon "></i> Test 2
        </button>
    </p>




