code {
    // background-color: rgb(230, 230, 230);
    // color: #333;
    //border:1px solid #ccc;
    padding: 2px 2px;
}
 
.fk-snippet{
    margin-top: 2rem;
    position: relative;
    border: 1px solid #ccc;
    background-color: #FFF;

    &:before {
        align-items: stretch;
        display: flex;
        background: #ccc;
        border-radius: 2px 2px 0 0;
        bottom: 100%;
        color: rgba(0,0,0,.7);
        content: "Example";
        font-size: 8px;
        font-weight: 700;
        left: -1px;
        letter-spacing: 1px;
        margin-left: -1px;
        padding: 4px 8px;
        position: absolute;
        text-transform: uppercase;
        vertical-align: top;
    }

    &:after {
    }


    &--medium {
        background-color: #F1F1EF;
    }
}

.fk-snippet__code{
    &::before {
        content: attr(data-lang);
        position: absolute;
        right: $bp-space-spacing-md;
        top: $bp-space-spacing-md;
        color: #fff;
    }


    code{
        padding:1.5rem;
    }

    figure{
        margin:0;

        pre{
            margin:0;
        }
    }
}
 

.fk-snippet__preview{
    padding: 1rem;
}

