body {
    font-family: "Source Sans Pro", sans-serif;
    color: neutral-color('80');
    //font-size: $bp-size-type-base;
}

// FKFKFK NOTE: ALL OF THIS SHOULD BE IN LAYOUTS BUT PUTTING IN HERE FOR NOW 
// FKFKFK ALL OF THIS IS FROM BLUEPRINNT
// FKFKFK EVERYTHING BELOW NEEDS TO BE MOVED TO LAYOUTS

.fk-Layout-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

// .fk-nav {
//     background: #EDEBE9;
//     width: 200px;
//     flex: 0 200px;
//     -ms-flex: 0 200px;
//     -webkit-box-flex: 0;
//     -moz-box-flex: 0;
//     -ms-box-flex: 0;
//     box-flex: 0;
//     padding: 16px;
//     border-right: solid 1px #05314D;
//     overflow: scroll;
//     margin-bottom: $bp-space-stack-lg;
// }

// .fk-main {
//     -ms-flex: 1;
//     -webkit-box-flex: 1;
//     -moz-box-flex: 1;
//     -ms-box-flex: 1;
//     box-flex: 1;
//     padding: 32px;
//     overflow: scroll;
//     border-right: 3px solid #000;


//     img {
//         //margin: 1rem 0 0
//     }

//     li {
//         max-width: 40rem;
//         padding-bottom: .5rem;
//     }
// }

.fk-container {
    width: 100%;
}
// .l-blueprint {
//     .fk-main {
//         padding: 0;
//         margin: 0;
//     }
//     background: #fff;
// }

// .fk-main-header {
//     height: 70px;
//     margin: 0;
//     margin-bottom: 40px;
//     padding-top: 10px;

//     .fm-logo {
//         height: 40px;
//         margin-left: 16px;
//         .fm-logo_lockup-text {
//             position: relative;
//             padding-left: 8px;
//             top: 8px;
//             color: #05324D;
//             border-left: 1px solid #05324D;
//         }
//     }
// }

// .l-nav {
//     div {
//         display: inline;
//         margin-right: 24px;
//     }
// }


