
$serif-fallback: 'sans-serif';
$font-path:  './assets/fonts/';

$font-stack: (
    fonts: (
        glypha:(
            light: (
                name:  "Glypha-light",
                local: "GlyphaLTPro-Light",
                file:  "GlyphaLTPro-45Light.woff"
            ),
            light-italic : (
                name:  "Glypha-light-italic",
                local: "GlyphaLTPro-LightOblique",
                file:  "GlyphaLTPro-45LightOblique.woff"
            ),
            normal : (
                name:  "Glypha",
                local: "GlyphaLTPro-Roman",
                file:  "GlyphaLTPro-55Roman.woff"
            ),
            italic :(
                name:  'Glypha-italic',
                local: "GlyphaLTPro-Oblique",
                file:  "GlyphaLTPro-55Oblique.woff"
            ),
            bold:(
                name:  'Glypha-bold',
                local: "GlyphaLTPro-Bold",
                file:  "GlyphaLTPro-65Bold.woff"
            ),
            bold-italic:(
                name:  "Glypha-bold-italic",
                local: "GlyphaLTPro-BoldOblique",
                file:  "GlyphaLTPro-65BoldOblique.woff"
            )
        ),
        // sourcesans:(
        //     light: (
        //         name:  "Source Sans Pro Light",
        //         local: "SourceSansPro-Light",
        //        // remote: 
        //       //  file:  "GlyphaLTW04-45Light.woff"
        //     ),
        //     light-italic : (
        //         name:  "Source Sans Pro Light Italic",
        //         local: "Source Sans Pro Regular",
        //        // file:  "GlyphaLTPro-45LightOblique.woff"
        //     ),
        //     normal : (
        //         name:  "Source Sans Pro",
        //         local: "Source Sans Pro Regular",
        //         regular: "https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lujVj9_mf.woff"
        //        // file:  "GlyphaLTW04-45Light.woff"
        //     ),
        //     italic :(
        //         name:  "Source Sans Pro Italic",
        //         local: "GlyphaLTPro-Oblique",
        //        // file:  "GlyphaLTW04-55Oblique.woff"
        //     ),           
        //      semibold : (
        //         name:  "Source Sans Pro SemiBold",
        //         local: "GlyphaLTPro-Roman",
        //        // file:  "GlyphaLTW04-45Light.woff"
        //     ),
        //     semibold-italic :(
        //         name:  "Source Sans Pro SemiBold Italic",
        //         local: "SourceSansPro-SemiBoldItalic",
        //         //file:  "GlyphaLTW04-55Oblique.woff"
        //     ),
        //     bold:(
        //         name:  "Source Sans Pro",
        //         //local: "GlyphaLTPro-Bold",
        //        // file:  "GlyphaLTPro-65Bold.woff"
        //     ),
        //     bold-italic:(
        //         name:  "Source Sans Pro",
        //         //remote: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i"
        //     )
        // )
    )
);

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

// //later can be switch to mega-map or config
$fonts: get('fonts', $font-stack);

@each $name, $font in $fonts {
    @each $weight, $weights in $font{
       
        $src-order: ();
        $remote:();

        @if map-has-key($weights, 'name'){
            $name: map-get($weights,'name');
        } @else {
            @error 'ALL FONTS REQUIRE A NAME';
        }
    
        @if map-has-key($weights, 'local'){
            $local: map-get($weights,'local');
           // $src-order: $src-order + local($local);
           $src-entry: local(#{$local});
           $src-order: append($src-order,$src-entry);
        } 

        @if map-has-key($weights, 'remote'){
            $src-entry: map-get($weights,'remote');
          
            $src-order: append($src-order, url($src-entry), comma);
         } 
  

       @if map-has-key($weights, 'file'){
         $file: map-get($weights,'file');
        
         $src-order: append($src-order, url($font-path+$file), comma);
       } 


        @font-face{
            font-family: $name;
            // Pull from local computer first if exsist
            src:  $src-order
        }
    }
}
