// Typography
// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.4;
  //margin-bottom: .5em;
  margin-top: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
}
h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 1.4rem;
}
h4,
.h4 {
  font-size: 1.2rem;
}
h5,
.h5 {
  font-size: 1rem;
}
h6,
.h6 {
  font-size: .8rem;
}




// // TKTK FROM BLUEPRINT SITE
// TKTKTK THIS NEEDS TO BE FIXED. THERE'S SOMETHING WRONG WITH GLYPHA IN THIS REPO
// h1 {
//   font-family: 'Glypha-light'; // TKTKTK NEEDS TO BE TOKENIZED
//   color: brand-color('orange'); // TKTKTK TALK TO CHRIS ABOUT IF THIS IS THE CORRECT WAY TO GET THIS COLOR
// }





// h1 {
//     font-size: 32px;
//     line-height: 44px;
// }


// h2 {
//     font-size: 28px;
//     font-weight: normal;
// }


// h3 {
//     font-size: 24px;
//     font-weight: normal;
// }


// h4 {
//     font-size: 20px;
//     font-weight: normal;

// }


// h1, h2, h3, h4 {
//     small {
//         display: block;
//         font-size:.5em;
//         letter-spacing: .2rem;
//         color:#666;
//         width:80%;
//     }

// }