.fk-sticker{
    align-items: center;
    border-radius: .25rem;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    display: inline-flex;
    font-size: .625rem;
    font-weight: 700;
    justify-content: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: neutral-color('17');

    &--circle {
      border-radius:5000px;
    }

    &--blue {
        background-color: $bp-color-core-blue-40;
        color: #fff
    }

    &--red {
        background-color: $bp-color-core-red-40;
        color: #fff
    }
    &--orange {
        background-color: $bp-color-muted-orange-80;
        color: #fff
    } 
    &--magenta {
        background-color: $bp-color-muted-magenta-50;
        color: #fff
    }
    &--gray {
        background-color: neutral-color('30');
        color: #fff
    }
}


.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius:5000px;
}