---
snippetStyle: white
notes: You can add more emphasis to the callout by adding the fk-callout--info modifier
order: 5
---

<div class="fk-callout fk-callout--info">
    <div class="fk-callout__icon">
            <i class="fk-icon" data-src="feedback-stop"></i>
    </div>

    <div class="fk-callout__content">
        <p> Installation of this software requires you to install the following dependencies, Lorem ipsum dolor sit amet, consectetur adipiscing et, consectetur adipiscing elit. Fusce ac quam sed urna mattis venet, consectetur adipiscing elit. Fusce ac quam sed urna mattis vene </p>
    </div>
</div>
    

