---
snippetStyle: white
notes: You can adjust the icon to large for more emphasis by adding fk-ucon--lg to the icon
order: 4
---


<div class="fk-callout">
    <div class="fk-callout__icon">
        <svg class="fk-ucon fk-ucon--lg" xmlns="http://www.w3.org/2000/svg"><path d="M12.984 13.922V6.984h-1.969v6.938h1.969zm0 4.031v-2.016h-1.969v2.016h1.969zM12 2.016c5.531 0 9.984 4.453 9.984 9.984S17.531 21.984 12 21.984 2.016 17.531 2.016 12 6.469 2.016 12 2.016z"/></svg>    
    </div>
    <div class="fk-callout__content">
        <p><Strong>Reading Tip</Strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac quam sed urna mattis venenatis. Proin non nunc non ex venenatis dapibus. Duis ornare in turpis id fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac quam sed urna mattis venenatis. Proin non nunc non ex venenatis dapibus. Duis ornare in turpis id fringilla.</p>
    </div>
</div>

