---
snippetStyle: white
notes: You can add more emphasis to the callout by adding the fk-callout--warning modifier
order: 4
---



<div class="fk-callout fk-callout--warning">
    <div class="fk-callout__icon ">
        <i class="fk-icon" data-src="feedback-stop"></i>
    </div>

    <div class="fk-callout__content">
        <p>
            <Strong>Documention Deprecation Notice</Strong><br /> 
            This section of the seller buyers guide is being retired by 12/12/2019. Please refer to the new <a href="/"> updated specs</a>. Proin non nunc non ex venenatis dapibus. Duis ornare in turpis id fringilla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac quam sed urna mattis venenatis. Proin non nunc non ex venenatis dapibus. Duis ornare in turpis id fringilla.
        </p>
    </div>
</div>

