---
order: 3
---


<div class="fk-button-group" role="group">
    <input type="checkbox" id="button-id-94349" class="fk-btn--toggle__input"  />
    <label class="fk-btn fk-btn--toggle" role="button" for="button-id-94349">
        <strong>B</strong>
    </label>

    <input type="checkbox" id="button-id-94350" class="fk-btn--toggle__input"  />
    <label class="fk-btn" role="button" for="button-id-94350">
        <em>I</em>
    </label>
    <input type="checkbox" id="button-id-94351" class="fk-btn--toggle__input"  />
    <label class="fk-btn" role="button" for="button-id-94351">
        <span style='text-decoration: underline'>U</span>
    </label>
</div>

