---
order: 1 
---

<div class="fk-button-group">
    <button class="fk-btn">Edit</button>
    <button class="fk-btn">Info</button>
    <button class="fk-btn">Copy</button>
    <button class="fk-btn">Edit</button>
    <button class="fk-btn">Info</button>
    <button class="fk-btn">Copy</button>
</div>

<br><br>

<div class="fk-button-group">
    <button class="fk-btn">Edit</button>
    <button class="fk-btn">Info</button>
    <button class="fk-btn">Copy</button>
    <button class="fk-btn is-active">Edit</button>
    <button class="fk-btn">Info</button>
    <button class="fk-btn">Copy</button>
</div>