/*

   WIDTHS

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%

     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Width Scale */

$fk-utils-width-responsive: true !default;
$fk-utils-width-print: true !default;

$fk-utils-width-breakpoints: get('web.breakpoints') !default;

$fk-ns-width: 'width'; 

@mixin _width($variant:'') {

    .#{$fk-ns-utilities}child-#{$fk-ns-width}-1of2 > *{    width: 50%; }
    .#{$fk-ns-utilities}child-#{$fk-ns-width}-1of3 > *{    width: unquote('calc(100% * 1 / 3.001)'); }
    .#{$fk-ns-utilities}child-#{$fk-ns-width}-1of4 > *{    width: 25%; }
    .#{$fk-ns-utilities}child-#{$fk-ns-width}-1of5 > *{    width: 20; }
    .#{$fk-ns-utilities}child-#{$fk-ns-width}-1of6 > *{    width: unquote('calc(100% * 1 / 6.001)'); }

    .#{$fk-ns-utilities}#{$fk-ns-width}-1 {    width: 1rem; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-2 {    width: 2rem; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-3 {    width: 4rem; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-4 {    width: 8rem; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-5 {    width: 16rem; }

    .#{$fk-ns-utilities}#{$fk-ns-width}-10 {  width:  10%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-20 {  width:  20%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-25 {  width:  25%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-30 {  width:  30%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-33 {  width:  33%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-34 {  width:  34%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-40 {  width:  40%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-50 {  width:  50%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-60 {  width:  60%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-70 {  width:  70%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-75 {  width:  75%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-80 {  width:  80%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-90 {  width:  90%; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-100 { width: 100%; }





    /* Halves */
    .#{$fk-ns-utilities}#{$fk-ns-width}-1of2 { @extend .u-width-50; }

    /* Thirds */
    .#{$fk-ns-utilities}#{$fk-ns-width}-1of3 { width:  unquote('calc(100% * 1 / 3.001)'); }
    .#{$fk-ns-utilities}#{$fk-ns-width}-2of3 { width:  unquote('calc(100% * 2 / 3.001)'); }

    /* Quarters */
    .#{$fk-ns-utilities}#{$fk-ns-width}-1of4 { @extend .u-width-25; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-2of4 { @extend .u-width-1of2;}
    .#{$fk-ns-utilities}#{$fk-ns-width}-3of4 { @extend .u-width-75; }

    /* Fifths */
    .#{$fk-ns-utilities}#{$fk-ns-width}-1of5 { @extend .u-width-20; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-2of5 { @extend .u-width-40; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-3of5 { @extend .u-width-60; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-4of5 { @extend .u-width-80; }

    /* Sixths */
    .#{$fk-ns-utilities}#{$fk-ns-width}-1of6 { width:  unquote('calc(100% * 1 / 6.001)'); }
    .#{$fk-ns-utilities}#{$fk-ns-width}-2of6 { @extend .u-width-1of3; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-3of6 { @extend .u-width-1of2; }
    .#{$fk-ns-utilities}#{$fk-ns-width}-4of6 { @extend .u-width-2of3;}
    .#{$fk-ns-utilities}#{$fk-ns-width}-5of6 { width:  unquote('calc(100% * 5 / 6.001)'); }




    .#{$fk-ns-utilities}#{$fk-ns-width}-auto { width: auto; }

    .#{$fk-ns-utilities}#{$fk-ns-width}-expand { 
      flex: 1;
      min-width: 1px;
     }


}


@include _width();

//TKTK Breakpoints and print







// TKTK put in conditional of QA styles? env check? 
// 

.qa-bg{
  background-color: #c7dcbf !important;
}