// Cursors


$fk-utils-cursor-ns: 'cursor' !default; 


.#{$fk-ns-utilities + $fk-utils-cursor-ns}-hand {
    cursor: pointer;
  }
  
  .#{$fk-ns-utilities + $fk-utils-cursor-ns}-move {
    cursor: move;
  }
  
  .#{$fk-ns-utilities + $fk-utils-cursor-ns}-zoom-in {
    cursor: zoom-in;
  }
  
  .#{$fk-ns-utilities + $fk-utils-cursor-ns}-zoom-out {
    cursor: zoom-out;
  }
  
  .#{$fk-ns-utilities + $fk-utils-cursor-ns}-not-allowed {
    cursor: not-allowed;
  }
  
  .#{$fk-ns-utilities + $fk-utils-cursor-ns}-auto {
    cursor: auto;
  }
  