/*


   Base:
     h = height
     min-h = min-height
     min-vh = min-height vertical screen height
     vh = vertical screen height

   Modifiers
     1 = 1st step in height scale
     2 = 2nd step in height scale
     3 = 3rd step in height scale
     4 = 4th step in height scale
     5 = 5th step in height scale

     -25   = literal value 25%
     -50   = literal value 50%
     -75   = literal value 75%
     -100  = literal value 100%

     -auto = string value of auto
     -inherit = string value of inherit

   Media Query Extensions:


*/

$fk-utils-height-responsive: true !default;
$fk-utils-height-print: false !default;

$fk-utils-height-breakpoints: get('web.breakpoints') !default;

$fk-ns-height: 'height'; 


/* Height Scale */
.#{$fk-ns-utilities}#{$fk-ns-height}-1 { height: 1rem; }
.#{$fk-ns-utilities}#{$fk-ns-height}-2 { height: 2rem; }
.#{$fk-ns-utilities}#{$fk-ns-height}-3 { height: 4rem; }
.#{$fk-ns-utilities}#{$fk-ns-height}-4 { height: 8rem; }
.#{$fk-ns-utilities}#{$fk-ns-height}-5 { height: 16rem; }

/* Height Percentages - Based off of height of parent */
.#{$fk-ns-utilities}#{$fk-ns-height}-25 {  height:  25%; }
.#{$fk-ns-utilities}#{$fk-ns-height}-50 {  height:  50%; }
.#{$fk-ns-utilities}#{$fk-ns-height}-75 {  height:  75%; }
.#{$fk-ns-utilities}#{$fk-ns-height}-100 { height: 100%; }

.#{$fk-ns-utilities}#{$fk-ns-height}-min-h-100 { min-height: 100%; }

/* Screen Height Percentage */
.#{$fk-ns-utilities}#{$fk-ns-height}-vh-25 {  height:  25vh; }
.#{$fk-ns-utilities}#{$fk-ns-height}-vh-50 {  height:  50vh; }
.#{$fk-ns-utilities}#{$fk-ns-height}-vh-75 {  height:  75vh; }
.#{$fk-ns-utilities}#{$fk-ns-height}-vh-100 { height: 100vh; }

.#{$fk-ns-utilities}#{$fk-ns-height}-min-vh-100 { min-height: 100vh; }


/* String Properties */
.#{$fk-ns-utilities}#{$fk-ns-height}-auto {     height: auto; }
.#{$fk-ns-utilities}#{$fk-ns-height}-inherit {  height: inherit; }
