.u-depth-01{
    box-shadow: $bp-layering-depth-01;
}
.u-depth-02{
    box-shadow: $bp-layering-depth-02;
}

.u-depth-03{
    box-shadow: $bp-layering-depth-03;
}

.u-depth-04{
    box-shadow: $bp-layering-depth-04;
}  

$fk-ns-elevation: 'elevation-'; 
 
@mixin _utilities-text-size( $variant: '') {  
    @each $name, $elevation in $fk-elevation-map {
        .#{$fk-ns-utilities + $fk-ns-elevation + $name + $variant } {
            box-shadow: $elevation;
        } 
    }
}

@include _utilities-text-size;

.qa-card-hover {
    box-shadow: $bp-layering-elevation-08;

    &:hover {
        box-shadow: $bp-layering-elevation-12;
    }
}
