
.u-line-height-compressed {
    line-height: $bp-type-baseline-compressed;
}

.u-line-height-default {
    line-height: $bp-type-baseline-default;
}

.u-line-height-fluffy {
    line-height: $bp-type-baseline-fluffy;
}
