// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');



// small{
//     font-size: $bp-module-scale-down-2 em;
// }


$fk-utils-text-size-responsive: true !default;
$fk-utils-text-size-breakpoints: get('web.breakpoints') !default;
$fk-utils-text-size-print: false !default;
$fk-utils-text-size-sizes: get('size.type') !default;
$fk-text-size-ns: 'text-size'; 

//considered private mixin.. only used in this local scope. 
@mixin _text-size( $variant: '') { 
    @each $name, $size in $fk-utils-text-size-sizes {
        .#{$fk-ns-utilities + $fk-text-size-ns + '-' + $name + $variant } {
            font-size: $size;
        }
    }
}


@if($fk-config-enable-utilties){
    @include _text-size();
}

@if $fk-utils-text-size-print AND $fk-config-enable-print {
    @media print {
        @include _text-size($fk-ns-breakpoint-separator + $fk-ns-print);
    }
}

@if ($fk-utils-text-size-responsive AND $fk-config-enable-responsive) {
    @each $breakpoint-name, $breakpoint-size in $fk-utils-text-size-breakpoints {
        @include mq-until($breakpoint-name){
          @include _text-size($fk-ns-breakpoint-separator + $breakpoint-name);
        }
    }
} 