@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
$fk-toggler-icon: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$bp-color-neutral-70}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;

.fk-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .25rem .75rem;
  >.fk-container,
  >.fk-container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.fk-navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: .5rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.fk-navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  .fk-nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .dropdown-menu {
    position: static;
    float: none;
  }
}

.fk-navbar-text {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.fk-navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.fk-navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $bp-size-border-width-thin solid transparent; // remove default button style
  border-radius: $bp-size-border-radius-md;
  &:hover,
  &:focus {
    text-decoration: none;
  } // Opinionated: add "hand" cursor to non-disabled .fk-navbar-toggler elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.fk-navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

//
@include mq-sm() {
  .fk-navbar-expand-sm {
    >.fk-container,
    .fk-navbar-expand-sm {
      >.fk-container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  .fk-navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

@include mq-md() {
  .fk-navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
    >.fk-container,
    .fk-navbar-expand-md {
      >.fk-container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@include mq-lg() {
  .fk-navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    >.fk-container,
    .fk-navbar-expand-lg {
      >.fk-container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

@include mq-xl() {
  .fk-navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
    >.fk-container,
    .fk-navbar-expand-xl {
      flex-flow: row nowrap;
      justify-content: flex-start;
      >.fk-container-fluid {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
}

.fk-navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.fk-navbar-expand-sm {
  .fk-navbar-nav {
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .fk-nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .fk-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .fk-navbar-toggler {
    display: none;
  }
}

.fk-navbar-expand-sm {
  >.fk-container,
  .fk-navbar-expand-sm {
    >.fk-container-fluid {
      flex-wrap: nowrap;
    }
  }
}

.fk-navbar-expand-md {
  .fk-navbar-nav {
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .fk-nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .fk-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .fk-navbar-toggler {
    display: none;
  }
}

.fk-navbar-expand-md {
  >.fk-container,
  .fk-navbar-expand-md {
    >.fk-container-fluid {
      flex-wrap: nowrap;
    }
  }
}

.fk-navbar-expand-lg {
  .fk-navbar-nav {
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .fk-nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .fk-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .fk-navbar-toggler {
    display: none;
  }
}

.fk-navbar-expand-lg {
  >.fk-container,
  .fk-navbar-expand-lg {
    >.fk-container-fluid {
      flex-wrap: nowrap;
    }
  }
}

.fk-navbar-expand-xl {
  .fk-navbar-nav {
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .fk-nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .fk-navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .fk-navbar-toggler {
    display: none;
  }
}

.fk-navbar-expand-xl {
  >.fk-container,
  .fk-navbar-expand-xl {
    >.fk-container-fluid {
      flex-wrap: nowrap;
    }
  }
}

.fk-navbar-expand {
  >.fk-container,
  .fk-navbar-expand {
    >.fk-container-fluid {
      padding-right: 0;
      padding-left: 0;
      flex-wrap: nowrap;
    }
  }
}

.fk-navbar-expand {
  .fk-navbar-nav {
    flex-direction: row;
    .dropdown-menu {
      position: absolute;
    }
    .fk-nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
  .fk-navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .fk-navbar-toggler {
    display: none;
  }
}

//
.fk-navbar-light {
  .fk-navbar-brand {
    color: $bp-color-neutral-70;
    &:hover,
    &:focus {
      color: $bp-color-neutral-70;
    }
  }
  .fk-navbar-nav {
    .fk-nav-link {
      color: $bp-color-neutral-60;
      &:hover,
      &:focus {
        color: $bp-color-text-secondary;
      }
      &.disabled {
        color: $bp-color-text-subtle;
      }
    }
    .show>.fk-nav-link,
    .active>.fk-nav-link,
    .fk-nav-link.show,
    .fk-nav-link.active {
      color: $bp-color-neutral-70;
    }
  }
  .fk-navbar-toggler {
    color: $bp-color-neutral-60;
    border-color: $bp-color-border-light;
  }
  .fk-navbar-toggler-icon {
    background-image: $fk-toggler-icon;
  }
  .fk-navbar-text {
    color: $bp-color-neutral-60;
    a {
      color: $bp-color-neutral-70;
      &:hover,
      &:focus {
        color: $bp-color-neutral-70;
      }
    }
  }
}

// White links against a dark background
.fk-navbar-dark {
  .fk-navbar-brand {
    color: $bp-color-neutral-13;
    &:hover,
    &:focus {
      color: $bp-color-neutral-13;
    }
  }
  .fk-navbar-nav {
    .fk-nav-link {
      color: $bp-color-neutral-13;
      &:hover,
      &:focus {
        color: $bp-color-neutral-10;
      }
      &.disabled {
        color: $bp-color-neutral-40;
      }
    }
    .show>.fk-nav-link,
    .active>.fk-nav-link,
    .fk-nav-link.show,
    .fk-nav-link.active {
      color: $bp-color-neutral-13;
    }
  }
  .fk-navbar-toggler {
    color: $bp-color-neutral-13;
    border-color: $bp-color-border-dark;
  }
  .fk-navbar-toggler-icon {
    background-image: $fk-toggler-icon;
  }
  .fk-navbar-text {
    color: $bp-color-neutral-13;
    a {
      color: $bp-color-neutral-13;
      &:hover,
      &:focus {
        color: $bp-color-neutral-13;
      }
    }
  }
}