// TKTK BLock
// global block, 
// Tokens
//@import '../dist/tokens/framekit-tokens.scss';


// HELPERS
// Reserved for mixins, functions, variables
// Importing these files must NOT export any CSS
//@import "./globals/scss/mixins--map";
//@import "./globals/scss/functions--map"; 



$fk-callout-padding:    $bp-space-spacing-md;
$fk-callout-border:     $bp-size-border-width-thin solid $bp-color-neutral-30;
$fk-callout-font-size:  $bp-size-type-md;
// $fk-callout-line-height:get('line-height.default');
$fk-callout-font-color: neutral-color('80');
$fk-callout-icon-color: neutral-color('80');
$fk-callout-background-color: $bp-color-neutral-10;


$fk-callout-font-color--info:  $bp-color-feedback-interaction-darker;
$fk-callout-background-color--info: $bp-color-feedback-interaction-subtle;
$fk-callout-border--info:  $bp-size-border-width-thin solid $bp-color-feedback-interaction-lighter;

$fk-callout-font-color--warning:  $bp-color-feedback-warning-darker;
$fk-callout-background-color--warning: $bp-color-feedback-warning-subtle;  
$fk-callout-border--warning: $bp-size-border-width-thin $bp-color-feedback-warning-lighter;
 

.fk-callout {
    @extend .fk-media;
    
    background-color: $fk-callout-background-color;
    font-size: 16px;
    padding: $fk-callout-padding;
    border: $fk-callout-border;
    color: $fk-callout-font-color;
    // line-height: 1.25rem;

    p {
        margin:0;
        padding-top:3px;
    }

    p + p {
        margin-top: 10px;
    }

    &__icon{
        @extend .fk-media__left;
        
        //TKTK replace with mixin
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    &__content{
        @extend .fk-media__content;
        padding-top: 2px; //align with icon more on single line of text
    }

    &--warning {
        border: $fk-callout-border--warning;
        background-color: $fk-callout-background-color--warning;
        
        & .fk-ucon{
            fill: $fk-callout-font-color--warning;
        }

    }

    &--info {
        border: $fk-callout-border--info;
        background-color: $fk-callout-background-color--info;
        color: $fk-callout-font-color--info;

        & .fk-ucon {
            fill: $fk-callout-font-color--info;
        }
    }



}









// .fk-callout {
//     display: block;
//     background-color: $bp-color-neutral-00;
//     font-size: 16px;
//     padding: 1.25rem;
//     margin-top: 1.25rem;
//     margin-bottom: 1.25rem;
//     border: 1px solid rgb(221, 221, 221);
//     border-radius:.25rem;
//     border-left-width: .30rem;

//     border-left-color: $bp-color-neutral-40;
//     //TKTK just for demo
//     margin-right:1rem;
//     margin-left: 1rem;

//     .fk-media_left {
//         margin-left:0;
//         margin-right:1rem;
//     }

//     h4 {
//         margin-top:0;
//         margin-bottom: .5rem;
//     }

//     p {
//         margin: 0;
//         padding: 0;
//     }


//     &--warning {
//         border-left-color: $bp-color-feedback-warning;

//         svg{
//             fill:$bp-color-feedback-warning-lighter;
//             width: 48px; height: auto;
//         }
//     }

//     &--danger {
//         border-left-color: $bp-color-feedback-danger;
//     }
//     &--info {
//         border-left-color: $bp-color-feedback-interaction;
//         svg {
//             padding-right: 10px;
//             margin-bottom: -.25em;
//             fill:  $bp-color-feedback-interaction-dark;
//             width: 48px; 
//             height: auto;
//         }

  
//     }
//     &--standout {
//         background-color: lighten($bp-color-feedback-danger-disabled, 8%);
//         color: $bp-color-feedback-danger-darker;

//         border-top-width: .5px;
//         border-right-width: .5px;
//         border-bottom-width: .5px;
//         border-color: $bp-color-feedback-danger;

//         p {
//            color: #333;
//         }
//     }


//     &--message {
//         //background-color: $bp-color-feedback-interaction-disabled;
//         color: $bp-color-feedback-interaction-dark;
//         border-color: $bp-color-feedback-interaction-dark;
//         border-top: none;
//         border-right: none;
//         border-bottom: none;
//         box-shadow: $bp-shadow-8;
//         svg {
//             padding-right: 10px;
//             margin-bottom: -.25em;
//             fill:  $bp-color-feedback-interaction-dark;
//         }
//     }


//     &--bordered {
//         border: 1px solid $bp-color-feedback-interaction;
      
//         svg {
//             padding-right: 10px;
//             margin-bottom: -.25em;
//             fill:  $bp-color-feedback-interaction-dark;
//             width: 48px; 
//             height: auto;
//             vertical-align: top;
//         }
//     }

//     &--bordered2 {
//         border: 1px solid $bp-color-neutral-20;
//         background-color: $bp-color-neutral-00;
//         color: neutral-color('80');
//         border-radius: 0;
//         padding: $bp-spacing-inset-sm;

//         svg {
//             padding: 0px;
//             margin-bottom: 0em;
//             fill:  $bp-color-feedback-warning-darker;
//             width: 48px; 
//             height: auto;
//         }
//     }
    
// }