
$badge-font-size: $bp-size-type-xs;
$badge-font-weight: normal;
$badge-padding: $bp-space-squish-sm;
$badge-padding-larger: $bp-space-squish-sm;
$badge-border-radius: 4px;
$badge-font-color: #333;
$badge-font-color-inverse: #fff;

.fk-tag {
  display: inline-block;
  padding: $badge-padding;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: $badge-border-radius;
  color: $badge-font-color;
  background-color: $bp-color-neutral-20;
  
  &--success {
      background-color: $bp-color-feedback-success-base;
      color: $bp-color-neutral-10; 
      
        &.fk-tag--subtle{
            background-color: rgb(236, 232, 201);
            color: $bp-color-feedback-success-darker;
            font-weight: 500;
        }

  }

 
  &--danger {
   background-color: $bp-color-feedback-danger-base;   
   color: $bp-color-neutral-10; 
  }

  &--warning {
    background-color: $bp-color-feedback-warning-dark;
    // color: $badge-font-color-inverse;  
    color: neutral-color("95");   
  }

  &--info {
    background-color: $bp-color-feedback-interaction-base;
    color: $badge-font-color-inverse; 
  }

  &--info-alt {
    background-color: $bp-color-neutral-70;
    color: $badge-font-color-inverse; 
  }

  &--info-inverse {
    background-color: $bp-color-neutral-00;
    color: $badge-font-color; 
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  &--md {
      font-size: $bp-size-type-md;
      padding: $badge-padding-larger;
  }
}


// Colors
//
// Contextual variations (linked badges get darker on :hover).

// @each $color, $value in $theme-colors {
//   .badge-#{$color} {
//     @include badge-variant($value);
//   }
// }

// @each $name, $colors in $var-colors {
//   $bgcolor: nth($colors, 5);
//   $fontcolor: nth($colors, 11);
//   .fk-tag-#{$name} {
//     color: $fontcolor;
//     background-color: $bgcolor;
//   }
// }