

$link: $bp-color-feedback-interaction-base;
$link-hover: $bp-color-feedback-interaction-dark;
$text-strong: #333;
$grey-light: #333; 

$breadcrumb-item-color: $link !default;
$breadcrumb-item-hover-color: $link-hover !default;
$breadcrumb-item-active-color: $text-strong !default;

$breadcrumb-item-padding-vertical: 0 !default;
$breadcrumb-item-padding-horizontal: 0.75em !default;

$breadcrumb-item-padding-vertical-compressed: 0 !default;
$breadcrumb-item-padding-horizontal-compressed: 2px !default;

$breadcrumb-item-separator-color: $bp-color-neutral-30 !default;
$breadcrumb-item-separator-color-compressed: $bp-color-neutral-50 !default;

$size-small: 12px;
$size-normal: 16px;
$size-large: 24px;


.fk-breadcrumb {
//   @include block;
//   @include unselectable;

  display: block;

  font-size: $size-normal;
  white-space: nowrap;

  a {
    align-items: center;
    color: $breadcrumb-item-color;
    display: flex;
    justify-content: center;
    padding: $breadcrumb-item-padding-vertical $breadcrumb-item-padding-horizontal;
    text-decoration: none;
    letter-spacing: .05rem;

    &:hover {
      color: $breadcrumb-item-hover-color;
    }
  }

  li {
    align-items: center;
    display: flex;

    &:first-child a {
      padding-left: 0;
    }

    &.is-active {
      a {
        color: $breadcrumb-item-active-color;
        cursor: default;
        pointer-events: none;
      }
    }

    & + li::before {
      color: $breadcrumb-item-separator-color;
      content: "/";
    }
  }

  ul,
  ol {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left:0;
  }

  .icon {
    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }

  // Alignment
  &--centered {
    ol,
    ul {
      justify-content: center;
    }
  }

  &--right {
    ol,
    ul {
      justify-content: flex-end;
    }
  }

  // Sizes
  &--sm {
    font-size: $size-small;
  }

  &--lg {
    font-size: $size-large;
  }

  &--compressed {
    li {
      & + li::before {
        color: $breadcrumb-item-separator-color-compressed;
        content: "/";
      }
    }
 
   
    //$breadcrumb-item-separator-color-compressed
    a {
      letter-spacing: 0rem;      
      padding: $breadcrumb-item-padding-vertical-compressed $breadcrumb-item-padding-horizontal-compressed;
    }

  }

}