<img class="o-img-fit-contain rounded" src="{{data "samples.images.1"}}" alt="macOS El Capitan Wallpaper">

<br><br>
<figure>
    <img src="{{data "samples.images.2"}}" class="o-img-fit-contain" alt="..." style="background: #f8f9fa; height: 10rem; width: 7rem">
    <figcaption class="figure-caption text-center">o-img-fit-contain</figcaption>
</figure>

<figure>
    <img src="{{data "samples.images.3"}}" class="o-img-fit-cover" alt="..." style="background: #f8f9fa; height: 10rem; width: 15rem">
    <figcaption class="figure-caption text-center">o-img-fit-cover</figcaption>
</figure>

 