---
order: 50
notes: When grouping buttons, wrap them in an ```.fk-btn-row``` and it will apply the spacing for related control spacing
---

<div class="fk-btn-row">

    <button class="fk-btn" aria-label="This is the text a screen reader would read" aria-described-by="desc">
        Cancel
    </button>
    <button class="fk-btn fk-btn--primary" aria-label="This is the text a screen reader would read" aria-described-by="desc">
        Save
    </button>
    <button class="fk-btn fk-btn--primary" aria-label="This is the text a screen reader would read" aria-described-by="desc">
        Save
    </button>
    <button class="fk-btn fk-btn--primary" aria-label="This is the text a screen reader would read" aria-described-by="desc">
        Save
    </button>
</div>