<h1>Kitchen Labs</h1>

<p>A playground in testing new things</p>


<h2>Pages</h2>
{{#each (pages "/labs")}}
        <a class="" href="{{this.url}}"> {{pathToTitle this.path}}</a> 
        <br>
{{/each}}




