
.fk-datagrid {
    //border: 2px dotted #ccc;
    display: flex;
    flex-wrap: row wrap;
    //flex-flow: wrap;
    flex-basis: auto; // IE 11 requirement 


    & >*{
       margin: 5px;
       flex: 1 1 160px;
    }

    &--vertical{
        flex-direction: row;
        height: 300px;
  
        &.fk-keyvalue{
            flex: 1 1 200px;
            margin: 5px;
            width: 250px;
            
        }
    }

    //margin: -5px;


}



// In IE10 and IE11, containers with display: flex and flex-direction: column will not properly calculate their flexed childrens' sizes if the container has min-height but no explicit height property
//IE 11 does not vertically align items correctly when min-height is used see bug