
@mixin icon-size($size:'default'){
    @include square(get-icon-size($size));
}

@function get-icon-size($size){
    $c : 'size';
    $t : 'icon';

    $q: dot-str($c, $t);
    $map: map($q);

    @if map-has-key($map, $size) {
     $size: map-get($map, $size);
     @return $size;

    }@else{
        @warn error-maps('get-icon-size()', $map, $key);
    }

}
