---
order: 5
notes:  <span class="fk-tag fk-tag--md fk-tag--success">Sent to ADK </span><br /> 'Example of adding HTML in Tooltip. Rules to allowances of html will be in design specs'
snippetTweak: 'height:50px'
---

<div class="fk-tooltip fk-tooltip--top fk-tooltip-show" role="tooltip" style="will-change: transform;" x-placement="top">
    <div class="fk-tooltip__arrow" style="left: 66px;"></div>
    <div class="fk-tooltip__inner">
        <em>Tooltip</em> <u>with</u> <b>HTML</b>
    </div>
</div>


