<div class="l-flexbox-u-column-container">
  <div id="accordion" class="fk-accordion">
    
    <div class="fk-accordion__section">
      <button role="button" aria-controls="content02" aria-expanded="false" class="js-acc-control fk-accordion__control">
        <span class="fk-svg-rotate">
          <span class="fk-ucon"></span>
        </span> The Gorilla Coding Technique</button>
      <div id="content01" aria-hidden="true" class="js-ddpanel fk-dropdown-panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>

    <div class="fk-accordion__section">
      <button role="button" aria-controls="content02" aria-expanded="false" class="js-acc-control fk-accordion__control">
        <span class="fk-svg-rotate">
            <span class="fk-ucon"></span>
        </span> Nested Coffee Mugs
      </button>
      <div id="control02" aria-hidden="true" class="js-ddpanel fk-dropdown-panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>

    <div class="fk-accordion__section">
      <button role="button" aria-controls="content03" aria-expanded="false" class="js-acc-control fk-accordion__control">
        <span class="fk-svg-rotate">
            <span class="fk-ucon"></span>
        </span> Recycle Bin
      </button>
      <div id="control03" aria-hidden="true" class="js-ddpanel fk-dropdown-panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>

    <div class="fk-accordion__section">
      <button role="button" aria-controls="content04" aria-expanded="false" class="js-acc-control fk-accordion__control">
        <span class="fk-svg-rotate">
          <span class="fk-ucon"></span>
        </span> Updates</button>
      <div id="control04" aria-hidden="true" class="js-ddpanel fk-dropdown-panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>

  </div>
</div>

</div>